﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web;
@{
    var site = Model.Content.Site();
    var selection = site.Children.Where(x => x.IsVisible());
    var myUser = System.Web.Security.Membership.GetUser();
}
<!-- uncomment this line if you don't want it to appear in the top navigation -->
@*<a class="nav-link @Html.Raw(Model.Content.Id == site.Id ? "navi-link--active" : "")" href="@site.Url">@site.Name</a>*@
@foreach (var item in selection)
{
    if (item.DocumentTypeAlias == "register" && myUser != null )
    {
     @*
        <a style="color:blue;" class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "nav-link--active" : null)" href="@item.Url">@item.Name</a>
        *@
    }
    else if ((item.DocumentTypeAlias == "logout" && myUser != null))
    {
        <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "nav-link--active" : null)" href="@item.Url">@item.Name</a>
    }
    else if (!(item.DocumentTypeAlias == "logout") && !(item.DocumentTypeAlias == "login" && myUser != null))
    {
        <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "nav-link--active" : null)" href="@item.Url">@item.Name</a>
        
        @*if (myUser != null)
        {
        
            <a class="nav-link @(item.IsAncestorOrSelf(Model.Content) ? "nav-link--active" : null)">@myUser.UserName</a>
            <p><strong>Logged in as</strong> <span>@myUser.UserName</span></p>
        }*@
        
    }
    
}
