﻿ 

 .Inputs {
        /*background-color:cadetblue;*/
    }

        .Inputs .Header {
            background-color: cadetblue;
        }

        .Inputs .Detail {
            background-color: azure;
        }

            /*.Inputs .Detail .Value {
                border: dotted;
                border-color: red;
                color: red;
            }*/


    .IncomeStatement .Header {
        background-color: cadetblue;
    }

    .IncomeStatement .Detail {
        background-color: azure;
    }

        .IncomeStatement .Detail .Value {
            /*border: dotted;*/
            /*border-color: red;*/
            color: red;
        }

        .IncomeStatement .Detail .filler {
            width: 130px;
        }

    .ExcessCash .Header {
        background-color: cadetblue;
    }

    .ExcessCash .Detail {
        background-color: azure;
    }

        .ExcessCash .Detail .Value {
            /*border: dotted;*/
            /*border-color: red;*/
            color: red;
        }

        .ExcessCash .Detail .filler {
            width: 130px;
        }

    .Valuation .Header {
        background-color: cadetblue;
    }

    .Valuation .Detail {
        background-color: azure;
    }

    .bold {
        font-weight: bold;
    }

    .underline {
        border-bottom: solid;
        border-bottom-width: thin;
        border-color: black;
    }

    .Valuation .Detail .Value {
      
        color: red;
    }

    .Valuation .Detail .filler {
        width: 130px;
    }
    .Detail .Label{
        width: 430px;
        /*background-color: yellow;*/
    }
    .boxhighlight {
        border: dashed;
        border-width:thin;
                border-color: red;
                color: red;
    }

 
    .boxhighlight input{
    color: red;
}

    .texthighlight input{
    color: red;
}
