﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Logout>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
	var backgroundImage = Model.Content.HeroBackgroundImage != null ? Model.Content.HeroBackgroundImage.Url : String.Empty;
}




 <section class="section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border"
         style="background-image: url('@backgroundImage')"
         >
    <div class="section__hero-content">
     @{ Html.RenderAction("RenderLogout", "Member"); }

    </div>
</section>

 