﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.PreValuation>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
	var backgroundImage = Model.Content.HeroBackgroundImage != null ? Model.Content.HeroBackgroundImage.Url : String.Empty;
}
@*<script src="~/Umbraco/lib/angular/1.1.5/angular.min.js"></script>*@
 <section class="section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border"
         style="background-image: url('@backgroundImage')">
    <div class="section__hero-content">
        @*@if(Model.Content.FormTheme != null)
        {
        @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid=Model.Content.ValuationForm, FormTheme=Model.Content.FormTheme, includeScripts = true, mode = "forms" })
        }
        else
        {
        @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid=Model.Content.ValuationForm, includeScripts = true, mode = "forms" })
        }

 @Umbraco.RenderMacro("RenderUmbracoFormScripts")*@

     @Html.Partial("Valuation/PreValuation")
    

    </div>
</section>
 
