﻿
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Register>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var home = Model.Content.Site() as ContentModels.Home;
    //Model.Content.HeroBackgroundImage != null ? Model.Content.HeroBackgroundImage.Url : 
    var backgroundImage = home.HeroBackgroundImage != null ? home.HeroBackgroundImage.Url : String.Empty;
}

 <section class="section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border"
         style="background-image: url('@backgroundImage')">
    
       @Html.Partial("Membership/Register")

 
</section>
 
