﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ValuationReport>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
    var user = Membership.GetUser();
    int memberId = user != null ? Convert.ToInt32(user.ProviderUserKey) : 0;
    var valuationReportId = Request["ValuationReportId"].As<int>();
    var valuation = EquityMaven.Repository.EntityDataManagerService.DataManager.GetFullValuationReport(memberId, valuationReportId);
}

<link href="~/css/valuation-report-style.css" rel="stylesheet" />

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<script>

    var imageDataTick = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACBFBMVEX///////////////// //79/vz///7////+//7///7////////////+/vzy+ejA4I/3+/H////+/v3y+Oek0l53vA6r1mr+ /v3////////////////9/vzy+eiczk99vxmBwB+/347+//3+//7+//7///7+//7////////////9 /vzr9dyXy0Z+vxuDwSLG4pn///7///7+//3////////////+/vzp9NeUykJ+vxuCwSLL5aP+/v3/ //7///6+342323////7///7+//7////9/vzl8tGQyDp+vxqFwibQ6Kz+/vz///7O56h7vRR+vxu9 3on+/v3///7////+/vzh8MmMxjN/vxyHwyrT6bH9/vz///72+++s1mx+vxqBwB/B4JL+//39/vvb 7cCLxTF+vxuHxCra7L3+/vz////////6/PWk0l59vxmBwCDB4JLW67eIxCt+vxuLxjHd7sL9/vz/ ///////+/v32+/Cj0V19vxmAwB7E4pfS6bCFwiZ/vxuMxjPh8Mn+/v3////+//31+u6j0Vx9vxmF wyeFwiZ+vxuQyDrl8tH9/vz////////+/v33+/Cfz1V+vxuBwB+SyT7n89X9/vz////+/v3x+Oea zUyWy0Ts9t79/vz+/v3x+Obx+Ob+/v3+//7////////+//3////////+//7+//4dph5rAAAAAWJL R0QAiAUdSAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAAd0SU1FB+IFDwgoGTD+2N0AAAEMSURBVBjT fZDTcoMBFAa3tv3XTmrbtm3btm3bTNuXbCbtZJpcdC/34nxnFpRRUVU2aqhraCo5LbR10NVTcPoY YGhkrOBMMMXM3MLSCqxtEGTOFjvsHRydnF1wdXP3wBNEgtgLbx9fP38CCISgYEQhhIYRHhEZFU1M LHHxCYlJyQgpqaSlZ2RmkZ0DuXn5BRQWFZdQWlZeUUlVtfR4TW1dfQONTTS3tLa109FJl3S0u6e3 rx8GBoeGRxgdY1zqJpicmp6ZnZtfWFxieeX3vVXW1jc2t7Z3dtnb56fGAYccHZ+cnp1zcUmIPMwV 1ze3d9yLBdGfXA88PvEsm5Djycvr2zsSQSHPB59fSPifb/BLPAuqxI+3AAAAJXRFWHRkYXRlOmNy ZWF0ZQAyMDE4LTA1LTE1VDA4OjQwOjI1LTA3OjAwsQaxsQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAx OC0wNS0xNVQwODo0MDoyNS0wNzowMMBbCQ0AAAAASUVORK5CYII=";
    var imageDataCross = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAACQFBMVEX//////////v7//Pz/ /////////////v7//f3//////////v7//v7//////v7//////v7//f3//v7/////8vL/1NT//Pz/ /////////f3/5+f/2tr//v7//v7/9fX/Wlr/DAz/wcH//Pz//////v7//v7/+Pj/SEj/FRX/x8f/ /v7//////Pz/ysr/DQ3/AAD/ExP/v7//+/v//Pz/9PT/Tk7/Zmb//f3//////f3/tLT/Cgr/EhL/ wMD/+/v/9/f/TEz/UVH/9vb//v7//////f3/sbH/DAz/ExP/vb3/8fH/Tk7/UlL/9PT//v7///// +/v/s7P/Cgr/ExP/ubn/VFT/T0//9vb//f3//Pz/sLD/Cwv/BAT/AgL/T0//9PT//f3/////+vr/ p6f/BQX/QkL/+/v//v7//f3//////Pz/8/P/VVX/AgL/GRn/wsL/+/v/9/f/TEz/RUX/Fhb/EhL/ wMD/////9PT/Tk7/YGD/s7P/Cwv/ExP/+/v/////9/f/TU3/X1///f3//Pz/s7P/Cgr/EhL/wMD/ /f3//////v7/6+v/S0v/YmL/+vr//f3//Pz/sbH/DAz/FBT/tbX//v7//////Pz/xcX/Cgr/YGD/ /f3//v7//v7/////s7P/Cwv/a2v//f3//////f3/qan/Zmb/+fn//f3//Pz/p6f/Z2f//Pz///// /////v7//v7//f3//////////////f3//v7//v7//////v7//f3//v7///////////9AWfnRAAAA AWJLR0QAiAUdSAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAAd0SU1FB+IFDwgtMA87tPQAAAFuSURB VBjTLY/5W8xxFIXfmIkZaTDUUEhJpTiSLCVpEaFNWUrZlzZEKOuUJS2kIvtWIVsoSyrlX+vzncf9 6T7vPc8954AfU6Zis2PGn2nTcTgxbEbAzEAXZrUxa7ZrjiHgZu48goKxe5jPghBCPbCQRYvDlhAe 4WRp5LKo6BiWxxLHipVaFc9qEliTKK1l3XqCN5CUrI0pbApI3SylpZNhfmZuIWurtmWzfYe0M4dc 7DjIy6dglwqLdkt79rLP5+7EXUzJfpWW6cBBDvkYRnv4CEd1TMdPnCynwsfwUElVtU7p9BlqTF6L 2Uy+s+ek2vO6cNHktbrVGV39JekyV67qWjzXvZY2koZG6cbNW9xu0p1mWlqhjbv3pPb7dHTS9UAP u3n0mCc8fabnL16+4nU+b3rUS99beMf7/g98NPncn/j8ZYCvxt3vm43vg3itbkM/+PnL2Nu9/B7+ Y5jVbWR07K85WjMe+n9xMPHPCjQJ6RpSGYmaWLYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDUt MTVUMDg6NDU6NDgtMDc6MDDwlxKyAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA1LTE1VDA4OjQ1 OjQ4LTA3OjAwgcqqDgAAAABJRU5ErkJggg==";

</script>
<section class="section">

    <div class="section__hero-content">



        @{
            for (var i = 1; i <= 34; i++)
            {


                var pageNumber = ("000" + i.ToString());
                pageNumber = pageNumber.Substring(pageNumber.Length - 2, 2);
 
                var FullValuationPageModel = new EquityMaven.Umb.TestSite.Models.FullValuationPageModel { Page = i, TotalPages = 34, FullValuationReport = valuation };
                <page size="A4" layout="landscape">
                    @Html.Partial("Valuation/Report/Page" + pageNumber, FullValuationPageModel)
                </page>
              
                <div style="page-break-after: always;"></div>
            }
        }

    </div>
</section>
 