﻿@model EquityMaven.Data.HelperEntities.FullValuationModel

@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<style>
    .Inputs {
        /*background-color:cadetblue;*/
    }

        .Inputs .Header {
            background-color: cadetblue;
        }

        .Inputs .Detail {
            background-color: azure;
        }

            .Inputs .Detail .Value {
                border: dotted;
                border-color: red;
                color: red;
            }


    .IncomeStatement .Header {
        background-color: cadetblue;
    }

    .IncomeStatement .Detail {
        background-color: azure;
    }

        .IncomeStatement .Detail .Value {
            /*border: dotted;*/
            /*border-color: red;*/
            color: red;
        }

        .IncomeStatement .Detail .filler {
            width: 130px;
        }

    .ExcessCash .Header {
        background-color: cadetblue;
    }

    .ExcessCash .Detail {
        background-color: azure;
    }

        .ExcessCash .Detail .Value {
            /*border: dotted;*/
            /*border-color: red;*/
            color: red;
        }

        .ExcessCash .Detail .filler {
            width: 130px;
        }

    .Valuation .Header {
        background-color: cadetblue;
    }

    .Valuation .Detail {
        background-color: azure;
    }

    .bold {
        font-weight: bold;
    }

    .underline {
        border-bottom: solid;
        border-bottom-width: thin;
        border-color: black;
    }

    .Valuation .Detail .Value {
        /*border: dotted;*/
        /*border-color: red;*/
        color: red;
    }

    .Valuation .Detail .filler {
        width: 130px;
    }
</style>
<body>
    <h1>Version 1.1 </h1>
    <img src="http://testequitymaven.local.reynardit.com/Content/Page1.jpg" />
    <br />
    <img src="http://testequitymaven.local.reynardit.com/Content/Page2.jpg" />
    <br />
    <img src="http://testequitymaven.local.reynardit.com/Content/Page4-Disclaimer.jpg" />
    <br />
    <table class="Inputs">
        <tr class="Header">
            <td colspan="2">INCOME STATEMENT</td>
        </tr>
        <tr class="Detail">
            <td class="Label">Company name</td>
            <td class="Value">@Html.DisplayFor(model => model.CompanyName)</td>
        </tr>
        
        <tr class="Detail">
            <td class="Label">Last financial year end</td>
            <td class="Value">@Html.DisplayFor(model => model.LastFinancialYearEnd)</td>
        </tr>
        <tr class="Detail">
            <td class="Label">Current cash on hand as at last month-end</td>
            <td class="Value">@Html.DisplayFor(model => model.CurrentCashOnHand)</td>
        </tr>
        <tr class="Detail">
            <td class="Label">All 3rd party interest-bearing debt as at last month-end (LT+ST)</td>
            <td class="Value">@Html.DisplayFor(model => model.CurrentInterestBearingDebt)</td>
        </tr>
        <tr class="Detail">
            <td class="Label">Industry (Thomson Reuters Business Classification)</td>
            <td class="Value">@Html.DisplayFor(model => model.TRBC2012HierarchicalID)</td>
        </tr>
    </table>

    </br>
 
    <img src="http://testequitymaven.local.reynardit.com/Content/Page5-Valuation Process.jpg" />

</body>
</html>
