﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Controllers

@{
    @*
        You can specify a custom member type alias in the constructor, the default is 'Member'
        for example, to use 'Custom Member' you'd use this syntax:

        var registerModel = Members.CreateRegistrationModel("Custom Member");
    *@

int currentMemberId = Convert.ToInt32(Membership.GetUser().ProviderUserKey);

var valuationModel = EquityMaven.Umb.TestSite.Models.FullValuationViewModel.GetFullValuationViewModel(currentMemberId);

    @*
        Configurable here:

        registerModel.RedirectUrl       - Optional. What path to redirect to if registration is successful.
                                          By default the member will be redirected to the current umbraco page
                                          unless this is specified.

        registerModel.UsernameIsEmail   - the default is true
                                          if you want the username to be different from the email
                                          address, set this to true and add a new Username field in
                                          the form below

                                          @Html.LabelFor(m => registerModel.Username)
                                          @Html.TextBoxFor(m => registerModel.Username)
                                          @Html.ValidationMessageFor(m => registerModel.Username)
    *@

Html.EnableClientValidation();
Html.EnableUnobtrusiveJavaScript();
Html.RequiresJs("/umbraco_client/ui/jquery.js");
Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");

var success = TempData["FormSuccess"] != null;
}

@*NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed*@
@Html.RenderJsHere()

@if (success)
{
    @* This message will show if RedirectOnSucces is set to false (default) *@
    <p>Valuation Submission succeeeded.</p>
}
else
{
    using (Html.BeginUmbracoForm<EquityMaven.Umb.TestSite.Controllers.ValuationController>("FullValuation"))
    {
        <fieldset>
            <legend>Register Member</legend>

            @Html.ValidationSummary("fullValuationModel", true)

            @Html.LabelFor(m => valuationModel.CompanyName)
            @Html.TextBoxFor(m => valuationModel.CompanyName)
            @Html.ValidationMessageFor(m => valuationModel.CompanyName)
            <br />

            @Html.DropDownListFor(model => valuationModel.SelectedCountryId, valuationModel.Countries.Select(o => new SelectListItem { Text = o.Description, Value = o.Id.ToString(), Selected = o.Id == valuationModel.SelectedCountryId }))
            @Html.DropDownListFor(model => valuationModel.SelectedCurrencyId, valuationModel.Currencies.Select(o => new SelectListItem { Text = o.Description, Value = o.Id.ToString(), Selected = o.Id == valuationModel.SelectedCurrencyId }))

            @Html.HiddenFor(m => valuationModel.MemberId)
            @Html.HiddenFor(m => valuationModel.ClientId)

            <button>Save</button>
        </fieldset>
    }
}