@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Forms.Mvc
@using EquityMaven.Umb.Custom.Helpers
@{
    string rawData = null;
    var user = Membership.GetUser();
    int currentMemberId = user != null ? Convert.ToInt32(user.ProviderUserKey) : 0;
    var valuationModel = EquityMaven.Umb.TestSite.Helpers.tempHelper.GetPrelimEvaluationModel(currentMemberId);
    rawData = Newtonsoft.Json.JsonConvert.SerializeObject(valuationModel);

    //var isCalculated = true;
    var field = Model;
    var name = "TRBCCode";
    var fieldPrefix = "Data." + name.Replace("-", "");
    var fieldId = fieldPrefix + ".Id";
    var fieldCaption = fieldPrefix + ".Caption";
    var fieldName = fieldPrefix + ".Name";
    var fieldValue = fieldPrefix + ".Value";
    var fieldChange = "change(" + fieldPrefix + ", " + name + ")";
    //var fieldClass = Html.GetFormFieldClass(field.FieldTypeName) + " text" + (isCalculated ? " calculated" : "");
}

<script src="~/Umbraco/lib/angular/1.1.5/angular.min.js"></script>
<script src="~/Umbraco/lib/angular/1.1.5/angular-resource.min.js"></script>
<script src="~/scripts/PreValuation/EM.PreValuation.js"></script>
<div id="bodyContainer" ng-app="EMPreValuationApp" ng-cloak style="padding-top: 40px">
    <div ng-controller="EMPreValuationCtrl" data-ng-init="init(@rawData)">

        <div class="row">
            <div class="col-sm-8 input-group">
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">COMPANY NAME:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <input type="text" class="text equitymaven1" ng-model="Data.CompanyName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">EMAIL ADDRESS:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <input type="text" class="text equitymaven1" ng-model="Data.Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">CURRENCY:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="equitymaven1" ng-options="item.ISOCurrencySymbol as item.Description for item in Data.Currencies" ng-model="Data.ISOCurrencySymbol"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">LAST FINANCIAL YEAR END:</label>
                    </div>
                    <div class="col-md-8 col-xs-6 datepicker">
                        <input type="text" class="text datepickerfield equitymaven1" id="LastFinancialYearEnd" ng-model="Data.LastFinancialYearEnd">
                    </div>

                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 40px">
            <div class="col-sm-8 input-group">
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">Economic Sector:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_EconomicSector TRBC" id="EconomicSector"
                                ng-model="selectedEconomicSectorId" ng-options="item.Id as item.Description for item in Data.TRBCCode.EconomicSectors "></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">Business Sector:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_BusinessSector TRBC" id="BusinessSector"
                                ng-model="selectedBusinessSectorId" ng-options="item.Id as item.Description for item in Data.TRBCCode.BusinessSectors | filter:{EconomicSector.Id:selectedEconomicSectorId}"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">Industry Group:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_IndustryGroup TRBC" id="IndustryGroup"
                                ng-model="selectedIndustryGroupId" ng-options="item.Id as item.Description for item in Data.TRBCCode.IndustryGroups | filter:{BusinessSector.Id:selectedBusinessSectorId}"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">Industry:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_Industry TRBC" id="Industry"
                                ng-model="selectedIndustryId" ng-options="item.Id as item.Description for item in Data.TRBCCode.Industries | filter:{IndustryGroup.Id:selectedIndustryGroupId}"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">Activity:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_Activity TRBC" id="Activity"
                                ng-model="selectedActivityId" ng-options="item.Id as item.Description for item in Data.TRBCCode.Activites| filter:{Industry.Id:selectedIndustryId}"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">TRBC Code</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <input type="text"
                               ng-model="selectedActivityId"
                               class="TRBCCode TRBC"
                               maxlength="500" />

                    </div>
                </div>

            </div>
        </div>

        <div class="row" style="padding-top: 40px">
            <div class="col-sm-8 input-group">
               

                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">CURRENT CASH ON HAND AS AT LAST MONTH-END:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <input type="number" class="text equitymaven1" ng-model="Data.CurrentCashOnHand">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">ALL 3RD PARTY INTEREST-BEARING DEBT AS AT LAST MONTH-END (LT+ST) *</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <input type="number" class="text equitymaven1" ng-model="Data.CurrentInterestBearingDebt">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">REVENUE *</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <input type="number" class="text equitymaven1" ng-model="Data.IncomeStatement_Revenue">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">COST OF GOODS SOLD *</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <input type="number" class="text equitymaven1" ng-model="Data.IncomeStatement_CostOfGoodsSold">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label class="equitymaven1">OPERATING EXPENSES (EXCLUDING DEPRECIATION & AMORTISATION) *</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <input type="number" class="text equitymaven1" ng-model="Data.IncomeStatement_OperatingExpense">
                    </div>
                </div>




            </div>


            <a class="equitymaven1" ng-click="Save()">save</a>



        </div>

    </div>
</div>
