﻿@model EquityMaven.Data.HelperEntities.FullValuationModel

@{
    Layout = null;
}


<link href="~/css/valuation-report-style.css" rel="stylesheet" />

<script src="https://d3js.org/d3.v4.min.js"></script>
<section class="section">

    <div class="section__hero-content">



        
            @for (var i = 1; i <= 34; i++)
            {
                var pBreak = i == 1 ? "" : "page-break-before: always;";
                <div class="page" style="@pBreak">
                    @{
                        var pageNumber = ("0" + i.ToString());
                        pageNumber = pageNumber.Substring(pageNumber.Length - 2, 2);
                        if (i == 1 || i == 6 || i == 4 || i == 7 || i == 10 || i == 22)
                        {
                            var FullValuationPageModel = new EquityMaven.Umb.TestSite.Models.FullValuationPageModel { Page = i, TotalPages = 34, FullValuationInput = Model };
                            Html.Partial("Valuation/Report/Page" + pageNumber, FullValuationPageModel);
                        }
                        else
                        {
                            var slide = "../Content/Slide" + i.ToString() + ".JPG";
                            <img src="@slide" style="width:100%;">
                            //Html.Partial("Valuation/Report/Page" + pageNumber, Model);

                        }
                    }
                </div>
            }
        }

    </div>
</section>