@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Umbraco.Forms.Mvc
@using EquityMaven.Umb.Custom.Helpers
<script src="~/Umbraco/lib/angular/1.1.5/angular.min.js"></script>
<script src="~/Umbraco/lib/angular/1.1.5/angular-resource.min.js"></script>

@*<script src="~/App_Plugins/UmbracoForms/Assets/EMPreValuation/EM.ValuationIncomeStatement.js"></script>*@
<script src="~/scripts/Valuation/EM.ValuationIncomeStatement.js"></script>
<div id="bodyContainer" ng-app="EMValuationIncomeStatementApp" ng-cloak>
    @*<div ng-controller="EMValuationIncomeStatementCtrl" data-ng-init="init(@rawData)">*@
    <div ng-controller="EMValuationIncomeStatementCtrl">
        <div >
            <a ng-click="Save()">save</a>
            <div class="row" ng-hide="Loading">
                <div class="col-sm-8 input-group">

                    <a ng-click="Save()">save</a>

                    <table border="0">
                        <tr>
                            <th style="background-color:grey" colspan="9">
                                INCOME STATEMENT
                            </th>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                {{Headings.InputsActualPrior}}
                            </td>
                            <td>
                                {{Headings.InputsActualCurrent}}
                            </td>
                            <td>
                                {{Headings.InputsBudget}}
                            </td>
                            <td>
                                {{Headings.InputsForecast1}}
                            </td>
                            <td>
                                {{Headings.InputsForecast2}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input value="Revenue" ng-readonly="true" tabindex="-1"/>
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.IncomeStatement_Revenue" input-name="InputsActualPrior.IncomeStatement_Revenue">

                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.IncomeStatement_Revenue" input-name="InputsActualCurrent.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsBudget.IncomeStatement_Revenue" readonly ng-readonly="true" tabindex="-1"/>
                            </td>
                            <td>
                                <input type="number" ng-model="InputsForecast1.IncomeStatement_Revenue" ng-readonly="true" tabindex="-1"/>
                            </td>
                            <td>
                                <input type="number" ng-model="InputsForecast2.IncomeStatement_Revenue" ng-readonly="true" tabindex="-1"/>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <input value="Cost of Goods Sold" ng-readonly="true" tabindex="-1" />
                            </td>

                            <td>
                                <input type="number" ng-model="InputsActualPrior.IncomeStatement_CostOfGoodsSold" input-name="InputsActualPrior.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.IncomeStatement_CostOfGoodsSold" input-name="InputsActualCurrent.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input value="{{roundTo(InputsBudget.IncomeStatement_CostOfGoodsSold,2)}}" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input value="{{roundTo(InputsForecast1.IncomeStatement_CostOfGoodsSold,2)}}" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input value="{{roundTo(InputsForecast2.IncomeStatement_CostOfGoodsSold,2)}}" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input value="Gross profit" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsActualPrior.IncomeStatement_GrossProfit" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsActualCurrent.IncomeStatement_GrossProfit" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsBudget.IncomeStatement_GrossProfit" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.IncomeStatement_GrossProfit" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.IncomeStatement_GrossProfit" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input value="Operating expenses (excluding depreciation & amortisation)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.IncomeStatement_OperatingExpense" input-name="InputsActualPrior.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.IncomeStatement_OperatingExpense" input-name="InputsActualCurrent.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.IncomeStatement_OperatingExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.IncomeStatement_OperatingExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.IncomeStatement_OperatingExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input value='Earnings before interest, tax, depreciation, amortisation ("EBITDA")' ng-readonly="true" tabindex="-1" />

                            </td>
                            <td>
                                <input ng-model="InputsActualPrior.IncomeStatement_EBITDA" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsActualCurrent.IncomeStatement_EBITDA" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsBudget.IncomeStatement_EBITDA" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.IncomeStatement_EBITDA" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.IncomeStatement_EBITDA" ng-readonly="true" tabindex="-1" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input value="Depreciation and amortisation expense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.IncomeStatement_DepreciationAndAmortisationExpense" input-name="InputsActualPrior.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.IncomeStatement_DepreciationAndAmortisationExpense" input-name="InputsActualCurrent.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.IncomeStatement_DepreciationAndAmortisationExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.IncomeStatement_DepreciationAndAmortisationExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.IncomeStatement_DepreciationAndAmortisationExpense" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <input value='Earnings before interest and tax ("EBIT")' ng-readonly="true" tabindex="-1" />

                            </td>
                            <td>
                                <input ng-model="InputsActualPrior.IncomeStatement_EBIT" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsActualCurrent.IncomeStatement_EBIT" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsBudget.IncomeStatement_EBIT" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.IncomeStatement_EBIT" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.IncomeStatement_EBIT" ng-readonly="true" tabindex="-1" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input value="Interest expense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.IncomeStatement_InterestExpense" input-name="InputsActualPrior.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.IncomeStatement_InterestExpense" input-name="InputsActualCurrent.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.IncomeStatement_InterestExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.IncomeStatement_InterestExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.IncomeStatement_InterestExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input value='Earnings before tax' ng-readonly="true" tabindex="-1" />

                            </td>
                            <td>
                                <input ng-model="InputsActualPrior.IncomeStatement_EarningsBeforeTax" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsActualCurrent.IncomeStatement_EarningsBeforeTax" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsBudget.IncomeStatement_EarningsBeforeTax" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.IncomeStatement_EarningsBeforeTax" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.IncomeStatement_EarningsBeforeTax" ng-readonly="true" tabindex="-1" />
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input value="Non-cash expenses included in Operating expenses above" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.IncomeStatement_NonCashExpense" input-name="InputsActualPrior.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.IncomeStatement_NonCashExpense" input-name="InputsActualCurrent.IncomeStatement_Revenue">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.IncomeStatement_NonCashExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.IncomeStatement_NonCashExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.IncomeStatement_NonCashExpense" ng-readonly="true" tabindex="-1" />
                            </td>
                        </tr>

                        <tr>
                            <td colspan="9">
                                &nbsp;
                            </td>
                        </tr>



                    </table>


                    <a ng-click="Save()">save</a>

                    <table border="0">
                        <tr>
                            <td style="background-color:grey" colspan="9">
                                INCOME STATEMENT ANALYSIS
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                {{Headings.InputsActualPrior}}
                            </td>
                            <td>
                                {{Headings.InputsActualCurrent}}
                            </td>
                            <td>
                                {{Headings.InputsBudget}}
                            </td>
                            <td>
                                {{Headings.InputsForecast1}}
                            </td>
                            <td>
                                {{Headings.InputsForecast2}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input value="Revenue growth rate" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td></td>
                            <td>
                                <div class="percentage"><input type="number" step="0.01" ng-model="InputsActualCurrent.PercentagesHelper.IncomeStatementAnalysis_PercentageRevenueGrowth" ng-readonly="true" tabindex="-1"></div>

                            </td>
                            <td>
                                <div class="percentage"><input type="number" step="0.01" ng-model="InputsBudget.PercentagesHelper.IncomeStatementAnalysis_PercentageRevenueGrowth" ngc-focus="percentageFocus('InputsBudget', 'IncomeStatementAnalysis_PercentageRevenueGrowth')" ngc-blur="percentageBlur('InputsBudget', 'IncomeStatementAnalysis_PercentageRevenueGrowth')" /></div>
                                @*<div class="percentage"><input type="number" step="0.01" ng-model="InputsBudget.PercentagesHelper.IncomeStatementAnalysis_PercentageRevenueGrowth" ng-change="percentageChanged('InputsBudget', 'IncomeStatementAnalysis_PercentageRevenueGrowth')"/></div>*@
                            </td>
                            <td>

                                <div class="percentage"><input type="number" ng-model="InputsForecast1.PercentagesHelper.IncomeStatementAnalysis_PercentageRevenueGrowth" ngc-focus="percentageFocus('InputsForecast1', 'IncomeStatementAnalysis_PercentageRevenueGrowth')" ngc-blur="percentageBlur('InputsForecast1', 'IncomeStatementAnalysis_PercentageRevenueGrowth')" /></div>
                                @*<div class="percentage"><input type="number" ng-model="InputsForecast1.PercentagesHelper.IncomeStatementAnalysis_PercentageRevenueGrowth" ng-change="percentageChanged('InputsForecast1', 'IncomeStatementAnalysis_PercentageRevenueGrowth')"/></div>*@
                            </td>
                            <td>
                                <div class="percentage"><input type="number" ng-model="InputsForecast2.PercentagesHelper.IncomeStatementAnalysis_PercentageRevenueGrowth" ngc-focus="percentageFocus('InputsForecast2', 'IncomeStatementAnalysis_PercentageRevenueGrowth')" ngc-blur="percentageBlur('InputsForecast2', 'IncomeStatementAnalysis_PercentageRevenueGrowth')" /></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input value="Gross profit margin" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <div class="percentage"><input type="number" ng-model="InputsActualPrior.PercentagesHelper.IncomeStatementAnalysis_PercentageGrossProfitMargin" ng-readonly="true" tabindex="-1"></div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.IncomeStatementAnalysis_PercentageGrossProfitMargin" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsBudget.PercentagesHelper.IncomeStatementAnalysis_PercentageGrossProfitMargin" />
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsForecast1.PercentagesHelper.IncomeStatementAnalysis_PercentageGrossProfitMargin" />
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsForecast2.PercentagesHelper.IncomeStatementAnalysis_PercentageGrossProfitMargin" />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input value="Operating expenses (excluding depreciation & amortisation) as % Revenue" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualPrior.PercentagesHelper.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage overridable">
                                    <input type="number" ng-model="InputsBudget.PercentagesHelper.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue" ng-change="overridden(InputsBudget, 'IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue')" />
                                </div>
                            </td>
                            <td>
                                <div class="percentage overridable">
                                    <input type="number" ng-model="InputsForecast1.PercentagesHelper.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue" ng-change="overridden(InputsForecast1, 'IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue')" />
                                </div>
                            </td>
                            <td>
                                <div class="percentage overridable">
                                    <input type="number" ng-model="InputsForecast2.PercentagesHelper.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue" ng-change="overridden(InputsForecast2, 'IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue')" />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input value="EBITDA margin" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualPrior.PercentagesHelper.IncomeStatementAnalysis_EBITDAMargin" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.IncomeStatementAnalysis_EBITDAMargin" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsBudget.PercentagesHelper.IncomeStatementAnalysis_EBITDAMargin" ng-readonly="true" tabindex="-1" />
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsForecast1.PercentagesHelper.IncomeStatementAnalysis_EBITDAMargin" ng-readonly="true" tabindex="-1" />
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsForecast2.PercentagesHelper.IncomeStatementAnalysis_EBITDAMargin" ng-readonly="true" tabindex="-1" />
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input value="EBIT margin" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualPrior.PercentagesHelper.IncomeStatementAnalysis_EBITMargin" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.IncomeStatementAnalysis_EBITMargin" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsBudget.PercentagesHelper.IncomeStatementAnalysis_EBITMargin" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsForecast1.PercentagesHelper.IncomeStatementAnalysis_EBITMargin" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsForecast2.PercentagesHelper.IncomeStatementAnalysis_EBITMargin" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input value="Depreciation and amortisation as % of Revenue" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualPrior.PercentagesHelper.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsBudget.PercentagesHelper.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue" ng-readonly="true" tabindex="-1" />
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsForecast1.PercentagesHelper.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue" ng-readonly="true" tabindex="-1" />
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsForecast2.PercentagesHelper.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue" ng-readonly="true" tabindex="-1" />
                                </div>
                            </td>



                        </tr>
                        <tr>
                            <td>
                                <input value="Non-cash expenses (included in Operating expenses) as a % of Revenue" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualPrior.PercentagesHelper.IncomeStatementAnalysis_PercentageNonCashExpensesOfRevenue" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.IncomeStatementAnalysis_PercentageNonCashExpensesOfRevenue" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage overridable">
                                    <input type="number" ng-model="InputsBudget.PercentagesHelper.IncomeStatementAnalysis_PercentageNonCashExpensesOfRevenue" ng-change="overridden(InputsBudget, 'IncomeStatementAnalysis_PercentageNonCashExpensesOfRevenue')" />
                                </div>
                            </td>
                            <td>
                                <div class="percentage overridable">
                                    <input type="number" ng-model="InputsForecast1.PercentagesHelper.IncomeStatementAnalysis_PercentageNonCashExpensesOfRevenue" ng-change="overridden(InputsForecast1, 'IncomeStatementAnalysis_PercentageNonCashExpensesOfRevenue')" />
                                </div>
                            </td>
                            <td>
                                <div class="overridable">
                                    <input type="number" ng-model="InputsForecast2.PercentagesHelper.IncomeStatementAnalysis_PercentageNonCashExpensesOfRevenue" ng-change="overridden(InputsForecast2, 'IncomeStatementAnalysis_PercentageNonCashExpensesOfRevenue')" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input value="Interest cover " ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualPrior.PercentagesHelper.IncomeStatementAnalysis_Calculated_InterestCover" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td>
                                <div class="percentage">
                                    <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.IncomeStatementAnalysis_Calculated_InterestCover" ng-readonly="true" tabindex="-1">
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>




                        @*For information purposes only: Free cash flow as % Revenue
                        For information purposes only: Free cash flow as % EBITDA*@








                        <tr>
                            <td colspan="9">
                                &nbsp;
                            </td>
                        </tr>








                    </table>

                    <a ng-click="Save()">save</a>

                    <table border="0">
                        <tr>
                            <th style="background-color:grey" colspan="9">
                                BALANCE SHEET
                            </th>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                {{Headings.InputsActualPrior}}
                            </td>
                            <td>
                                {{Headings.InputsActualCurrent}}
                            </td>
                            <td>
                                {{Headings.InputsBudget}}
                            </td>
                            <td>
                                {{Headings.InputsForecast1}}
                            </td>
                            <td>
                                {{Headings.InputsForecast2}}
                            </td>
                        </tr>

                        <tr>
                            <td style="background-color:grey" colspan="9" align="left">
                                TOTAL ASSETS
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <input value="Current Assets" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetTotalAssets_Total" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetTotalAssets_Total" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Accounts Receiveable" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetTotalAssets_AccountsReceiveable">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetTotalAssets_AccountsReceiveable">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.BalanceSheetTotalAssets_AccountsReceiveable" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.BalanceSheetTotalAssets_AccountsReceiveable" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.BalanceSheetTotalAssets_AccountsReceiveable" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Inventory" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetTotalAssets_Inventory">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetTotalAssets_Inventory">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.BalanceSheetTotalAssets_Inventory" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.BalanceSheetTotalAssets_Inventory" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.BalanceSheetTotalAssets_Inventory" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>



                        <tr>

                            <td>
                                <input value="Other current assets" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetTotalAssets_OtherCurrentAssets">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetTotalAssets_OtherCurrentAssets">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.BalanceSheetTotalAssets_OtherCurrentAssets" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.BalanceSheetTotalAssets_OtherCurrentAssets" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.BalanceSheetTotalAssets_OtherCurrentAssets" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Cash and cash equivalents" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetTotalAssets_CashAndCashEquivalents">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetTotalAssets_CashAndCashEquivalents">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Intangible Assets" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetTotalAssets_IntangibleAssets">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetTotalAssets_IntangibleAssets">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Fixed Assets" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetTotalAssets_FixedAssets">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetTotalAssets_FixedAssets">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Total Assets" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetTotalAssets_TotalAssets" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetTotalAssets_TotalAssets" ng-readonly="true" tabindex="-1">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>



                    </table>

                    <a ng-click="Save()">save</a>
                    <table border="0">
                        <tr>
                            <th style="background-color:grey" colspan="9">
                                EQUITY AND LIABILITIES
                            </th>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                {{Headings.InputsActualPrior}}
                            </td>
                            <td>
                                {{Headings.InputsActualCurrent}}
                            </td>
                            <td>
                                {{Headings.InputsBudget}}
                            </td>
                            <td>
                                {{Headings.InputsForecast1}}
                            </td>
                            <td>
                                {{Headings.InputsForecast2}}
                            </td>
                        </tr>



                        <tr>

                            <td>
                                <input value="Current Liabilities" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetEquityAndLiabilitiesCurrentLiabilities" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetEquityAndLiabilitiesCurrentLiabilities" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Accounts Payable" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetEquityAndLiabilities_AccountsPayable">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetEquityAndLiabilities_AccountsPayable">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.BalanceSheetEquityAndLiabilities_AccountsPayable" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.BalanceSheetEquityAndLiabilities_AccountsPayable" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.BalanceSheetEquityAndLiabilities_AccountsPayable" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Other current liabilities" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Short term debt" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetEquityAndLiabilities_ShortTermDebt">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetEquityAndLiabilities_ShortTermDebt">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Long-term debt" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetEquityAndLiabilities_LongTermDebt">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetEquityAndLiabilities_LongTermDebt">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Shareholder loans" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetEquityAndLiabilities_ShareholderLoans">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetEquityAndLiabilities_ShareholderLoans">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Shareholder loans" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetEquityAndLiabilities_ShareholderLoans">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetEquityAndLiabilities_ShareholderLoans">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Total Liabilities" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetEquityAndLiabilities_TotalLiabilities">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetEquityAndLiabilities_TotalLiabilities">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>
                            <td>
                                <input value="Shareholders' Equity" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetEquityAndLiabilities_ShareholdersEquity">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetEquityAndLiabilities_ShareholdersEquity">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>

                    <a ng-click="Save()">save</a>
                    <table border="0">
                        <tr>
                            <th style="background-color:lightblue" colspan="9">
                                Working capital and leverage analysis
                            </th>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                {{Headings.InputsActualPrior}}
                            </td>
                            <td>
                                {{Headings.InputsActualCurrent}}
                            </td>
                            <td>
                                {{Headings.InputsBudget}}
                            </td>
                            <td>
                                {{Headings.InputsForecast1}}
                            </td>
                            <td>
                                {{Headings.InputsForecast2}}
                            </td>
                        </tr>



                        <tr>

                            <td colspan="9" style="background-color:white">
                                <div style="color:black">Current Assets </div>
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Accounts Receiveable (as % Revenue)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue" />
                            </td>

                        </tr>




                        <tr>

                            <td>
                                <input value="Inventory (as % Cost of Goods Sold)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.PercentagesHelper.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.PercentagesHelper.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.PercentagesHelper.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.PercentagesHelper.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold" />
                            </td>

                        </tr>


                        <tr>

                            <td>
                                <input value="Other current assets (as % Cost of Goods Sold)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold" />
                            </td>

                        </tr>


                        <tr>

                            <td colspan="9" style="background-color:white">
                                <div style="color:black">Current Liabilities</div>
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Accounts Payable (as % Cost of Goods Sold)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.PercentagesHelper.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold" />
                            </td>

                        </tr>



                        <tr>

                            <td>
                                Other current liabilities (as % Cost of Goods Sold)
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input ng-model="InputsBudget.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.PercentagesHelper.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold" />
                            </td>

                        </tr>


                    </table>

                    <a ng-click="Save()">save</a>
                    <table border="0">

                        <tr>

                            <td>
                                <input value="Accounts Receiveable Days (average)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsActualCurrent.BalanceSheetAnalysis_AverageAccountsReceiveableDays" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>


                                <input ng-model="InputsBudget.BalanceSheetAnalysis_AverageAccountsReceiveableDays" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.BalanceSheetAnalysis_AverageAccountsReceiveableDays" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.BalanceSheetAnalysis_AverageAccountsReceiveableDays" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Inventory Days (average)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsActualCurrent.BalanceSheetAnalysis_AverageInventoryDays" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsBudget.BalanceSheetAnalysis_AverageInventoryDays" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.BalanceSheetAnalysis_AverageInventoryDays" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.BalanceSheetAnalysis_AverageInventoryDays" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Accounts Payable Days (average)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsActualCurrent.BalanceSheetAnalysis_AverageAccountsPayableDays" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsBudget.BalanceSheetAnalysis_AverageAccountsPayableDays" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.BalanceSheetAnalysis_AverageAccountsPayableDays" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.BalanceSheetAnalysis_AverageAccountsPayableDays" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Current ratio" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetAnalysis_CurrentRatio" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetAnalysis_CurrentRatio" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Total Debt / EBITDA" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.BalanceSheetAnalysis_TotalEBITDA" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.BalanceSheetAnalysis_TotalEBITDA" ng-readonly="true" tabindex="-1">
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>

                    </table>


                    <a ng-click="Save()">save</a>
                    <table border="0">
                        <tr>
                            <th style="background-color:lightblue" colspan="9">
                                CAPITAL EXPENDITURE

                            </th>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                {{Headings.InputsActualPrior}}
                            </td>
                            <td>
                                {{Headings.InputsActualCurrent}}
                            </td>
                            <td>
                                {{Headings.InputsBudget}}
                            </td>
                            <td>
                                {{Headings.InputsForecast1}}
                            </td>
                            <td>
                                {{Headings.InputsForecast2}}
                            </td>
                        </tr>





                        <tr>

                            <td>
                                <input value="Capital expenditure" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.CapitalExpenditure_CapitalExpenditure" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.CapitalExpenditure_CapitalExpenditure" />
                            </td>
                            <td>
                                <input ng-model="InputsBudget.CapitalExpenditure_CapitalExpenditure" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast1.CapitalExpenditure_CapitalExpenditure" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-model="InputsForecast2.CapitalExpenditure_CapitalExpenditure" ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Capital expenditure (as % Revenue)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualPrior.PercentagesHelper.CapitalExpenditure_PercentageForecastCapitalExpenditure" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.PercentagesHelper.CapitalExpenditure_PercentageForecastCapitalExpenditure" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsBudget.PercentagesHelper.CapitalExpenditure_PercentageForecastCapitalExpenditure" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsForecast1.PercentagesHelper.CapitalExpenditure_PercentageForecastCapitalExpenditure" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsForecast2.PercentagesHelper.CapitalExpenditure_PercentageForecastCapitalExpenditure" />
                            </td>

                        </tr>
                        <tr>

                            <td>
                                <input value="Capital expenditure (TTM)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.CapitalExpenditure_TTM" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>


                    </table>


                    <a ng-click="Save()">save</a>
                    <table border="0">
                        <tr>
                            <th style="background-color:lightblue" colspan="9">
                                SUSTAINABLE EBITDA

                            </th>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                {{Headings.InputsActualCurrent}}
                            </td>
                            <td>
                                {{Headings.InputsBudget}}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>




                        <tr>

                            <td>
                                <input value='Earnings before interest, tax, depreciation, amortisation ("EBITDA")' ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.IncomeStatement_EBITDA" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsBudget.IncomeStatement_EBITDA" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                        <tr>


                            <td>
                                <input value="Non-recurring expenses" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.SustainableEBITDA_NonRecurringExpenses" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsBudget.SustainableEBITDA_NonRecurringExpenses" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>




                        <tr>

                            <td>
                                <input value="Non-recurring income" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.SustainableEBITDA_NonRecurringIncome" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsBudget.SustainableEBITDA_NonRecurringIncome" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Sustainable EBITDA" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.SustainableEBITDA_Total" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsBudget.SustainableEBITDA_Total" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Sustainable EBITDA (TTM)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.SustainableEBITDA_TTM" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsBudget.SustainableEBITDA_TTM" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                    </table>



                    <a ng-click="Save()">save</a>
                    <table border="0">
                        <tr>
                            <th style="background-color:lightblue" colspan="9">
                                EXCESS CASH

                            </th>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                {{Headings.InputsActualCurrent}}
                            </td>
                            <td>
                                {{Headings.InputsBudget}}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>






                        <tr>

                            <td>
                                <input value='Revenue' ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.IncomeStatement_Revenue" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsBudget.IncomeStatement_Revenue" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>





                        <tr>


                            <td>
                                <input value="Revenue (TTM)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.ExcessCash_RevenueTTM" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>





                        <tr>

                            <td>
                                <input value="Operating cash required as % Revenue (assumed)" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.ExcessCash_AssumedOperatingCashRequiredAsPercentageOfRevenue" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>


                        <tr>

                            <td>
                                <input value="Current cash on hand as at last month-end" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.SustainableEBITDA_Total" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>

                        <tr>

                            <td>
                                <input value="Excess cash" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input type="number" ng-model="InputsActualCurrent.SustainableEBITDA_TTM" ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>
                            <td>
                                <input ng-readonly="true" tabindex="-1" />
                            </td>

                        </tr>
                    </table>
                    <a ng-click="Save()">save</a>

                </div>
            </div>

        </div>
    </div>
</div>

