﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">

    <tr>

        <td colspan="6">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    PRIMARY APPROACH – DCF - WACC
                </h1>
                <div class="reportLineHeader"></div>
            </div>
        </td>

    </tr>
    <tr>
        <td colspan="6">
            <h3 class="Report" style="">
                FORECAST FREE CASH FLOWS ARE DISCOUNTED TO PRESENT VALUE AT A DISCOUNT RATE - THE WEIGHTED AVERAGE COST OF CAPITAL (“WACC”). WACC IS THE COMPANY’S COST OF EQUITY & AFTER-TAX COST OF DEBT, WEIGHTED BY TARGET MARKET CAPITAL STRUCTURE
            </h3>
        </td>
    </tr>
    <tr>
        <td colspan="6" class="bandWhiteOnBlue">
            $$\text{WACC}= R_{{E}} * (\text{E/V}) + R_{{D}} (1-T_{{C}}) * (\text{D/V})$$
        </td>
    </tr>

    <tr>
        <td width="5%">
            $$R_{{E}} $$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>

        </td>
        <td width="40%">
             Company's cost of equity
        </td>


        <td width="5%">
                $$R_{{D}} $$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%">
            Required return of the Company’s debt financing.
        </td>
    </tr>





    <tr>
        <td width="5%">
                $$ \text{( E / V )}$$
        </td>
        <td >
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%">
            Equity / Total Market Value of Company.
        </td>

        <td width="5%">
                $$\text{(1- T_}{{C}}\text{)}$$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%">

            Tax adjustment for interest expense (one minus the marginal tax rate), reflecting the tax benefits of debt.
        </td>
    </tr>


    <tr>
        <td colspan="3"></td>
        <td width="5%">
                $$ \text{( D / V )}$$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%">
            Debt / Total Market Value of Company.
        </td>




</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>
