﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel
 

<table class="reportFooter" width="100%" style="height:10px">
    <tr class="RowDetail">
        <td>
            <table  align="center" style="height:10px">
                <tr>
                    <td class="PageNumber" style="height:10px">
                        <img src="~/Content/emLogo.jpg" style="width:100%;" />
                    </td>
                    <td class="PageNumber" style="height:10px">
                        <b style="padding-left:1em;padding-right:1em;color:deepskyblue;font-size:medium;"> /</b> @Model.Page
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="reportLineFooter"></div>
        </td>
    </tr>
</table>
