﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel
@using EquityMaven.Tools;

@{
    Layout = null;
    //var inputsActualPrior = new EquityMaven.Data.Calculations.ValuationCalculator(Model.MonthsSinceLastFinancialYearEnd, Model.CurrentCashOnHand, Model.InputsActualPrior, null, Model.InputsActualCurrent);

    var InputsActualPrior = Model.FullValuationReport.ActualPrior;
    var InputsActualCurrent = Model.FullValuationReport.ActualCurrent;
    var InputsBudget = Model.FullValuationReport.Budget;
    var InputsForecast1 = Model.FullValuationReport.Forecast1;
    var InputsForecast2 = Model.FullValuationReport.Forecast2;
}



    <div class="aRow" @*class="Page6Test rowtest"*@>
        <div class="reportHeader" headers="2">
            <h1 class="Report" style="margin-bottom:0;">
                FINANCIAL INFORMATION
            </h1>

            <div class="reportLineHeader"></div>
            <h3 class="Report" style="">
                INCOME STATEMENT
            </h3>
        </div>
    </div>
    <div class="reportBody" headers="2">
        <div style="height:80%">
            <table style="width:100%">
                @*HEADING Start*@

                <tr>
                    <td class="RowHead ISDesc">
                        INCOME STATEMENT
                    </td>
                    <td class="RowHead FYV">
                        ACTUAL
                    </td>
                    <td class="RowHead FYV">
                        ACTUAL
                    </td>
                    <td class="RowHead FYV">
                        BUDGET
                    </td>
                    <td class="RowHead FYV">
                        FORECAST
                    </td>
                    <td class="RowHead FYV">
                        FORECAST
                    </td>

                </tr>

                <tr>
                    <td class="RowHead ISDesc">
                        @{var _currencyName = Model.FullValuationReport.Currency == null ? "" : Model.FullValuationReport.ISOCurrencySymbol + " - " + Model.FullValuationReport.Currency.CurrencyEnglishName; }
                        @_currencyName
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(-1).ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(1).ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(2).ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(3).ToString("MMMM yyyy")
                    </td>
                </tr>
                @*HEADING END*@

                @*DETAIL START*@

                <tr class="RowDetail">
                    <td>Revenue</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatement_Revenue)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_Revenue)</td>
                    <td class="Budget">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.IncomeStatement_Revenue)</td>
                    <td class="Forecast1">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.IncomeStatement_Revenue)</td>
                    <td class="Forecast2">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.IncomeStatement_Revenue)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Cost of Goods Sold</td>
                    <td class="ActualPrior Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatement_CostOfGoodsSold)</td>
                    <td class="ActualCurrent Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_CostOfGoodsSold)</td>
                    <td class="Budget Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.IncomeStatement_CostOfGoodsSold)</td>
                    <td class="Forecast1 Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.IncomeStatement_CostOfGoodsSold)</td>
                    <td class="Forecast2 Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.IncomeStatement_CostOfGoodsSold)</td>
                </tr>


                <tr class="RowDetail">
                    <td>Gross profit</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatement_GrossProfit)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_GrossProfit)</td>
                    <td class="Budget">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.IncomeStatement_GrossProfit)</td>
                    <td class="Forecast1">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.IncomeStatement_GrossProfit)</td>
                    <td class="Forecast2">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.IncomeStatement_GrossProfit)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Operating expenses (excluding depreciation & amortization)</td>
                    <td class="ActualPrior Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatement_OperatingExpense)</td>
                    <td class="ActualCurrent Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_OperatingExpense)</td>
                    <td class="Budget Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.IncomeStatement_OperatingExpense)</td>
                    <td class="Forecast1 Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.IncomeStatement_OperatingExpense)</td>
                    <td class="Forecast2 Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.IncomeStatement_OperatingExpense)</td>
                </tr>
                <tr class="RowDetail">
                    <td>Earnings before interest, tzx, depreciation, amortisation ("EBITDA")</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatement_EBITDA)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_EBITDA)</td>
                    <td class="Budget">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.IncomeStatement_EBITDA)</td>
                    <td class="Forecast1">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.IncomeStatement_EBITDA)</td>
                    <td class="Forecast2">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.IncomeStatement_EBITDA)</td>
                </tr>
                <tr class="RowDetail">
                    <td>Depreciation and amortisation expense</td>
                    <td class="ActualPrior Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatement_DepreciationAndAmortisationExpense)</td>
                    <td class="ActualCurrent Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_DepreciationAndAmortisationExpense)</td>
                    <td class="Budget Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.IncomeStatement_DepreciationAndAmortisationExpense)</td>
                    <td class="Forecast1 Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.IncomeStatement_DepreciationAndAmortisationExpense)</td>
                    <td class="Forecast2 Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.IncomeStatement_DepreciationAndAmortisationExpense)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Earnings before interest and tax ("EBIT")</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatement_EBIT)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_EBIT)</td>
                    <td class="Budget">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.IncomeStatement_EBIT)</td>
                    <td class="Forecast1">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.IncomeStatement_EBIT)</td>
                    <td class="Forecast2">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.IncomeStatement_EBIT)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Interest expense</td>
                    <td class="ActualPrior Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatement_InterestExpense)</td>
                    <td class="ActualCurrent Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_InterestExpense)</td>
                    <td class="Budget Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.IncomeStatement_InterestExpense)</td>
                    <td class="Forecast1 Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.IncomeStatement_InterestExpense)</td>
                    <td class="Forecast2 Underline">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.IncomeStatement_InterestExpense)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Earnings before tax</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatement_EarningsBeforeTax)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_EarningsBeforeTax)</td>
                    <td class="Budget">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.IncomeStatement_EarningsBeforeTax)</td>
                    <td class="Forecast1">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.IncomeStatement_EarningsBeforeTax)</td>
                    <td class="Forecast2">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.IncomeStatement_EarningsBeforeTax)</td>
                </tr>


                <tr class="RowDetail">
                    <td>&nbsp;</td>
                    <td class="ActualPrior">&nbsp;</td>
                    <td class="ActualCurrent">&nbsp;</td>
                    <td class="Budget">&nbsp;</td>
                    <td class="Forecast1">&nbsp;</td>
                    <td class="Forecast2">&nbsp;</td>
                </tr>





                <tr class="RowDetail">
                    <td style="text-decoration-line:underline">Income statement analysis</td>
                    <td class="ActualPrior">&nbsp;</td>
                    <td class="ActualCurrent">&nbsp;</td>
                    <td class="Budget">&nbsp;</td>
                    <td class="Forecast1">&nbsp;</td>
                    <td class="Forecast2">&nbsp;</td>
                </tr>

                <tr class="RowDetail">
                    <td>Revenue growth rate</td>
                    <td class="ActualPrior reportpercentage">&nbsp;</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_PercentageRevenueGrowth * 100, 1, 0) , "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.IncomeStatementAnalysis_PercentageRevenueGrowth * 100, 1, 0) , "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.IncomeStatementAnalysis_PercentageRevenueGrowth * 100, 1, 0) , "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.IncomeStatementAnalysis_PercentageRevenueGrowth * 100, 1, 0) , "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>Gross profit margin</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualPrior.IncomeStatementAnalysis_PercentageGrossProfitMargin * 100, 1, 0) , "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_PercentageGrossProfitMargin * 100, 1, 0) , "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.IncomeStatementAnalysis_PercentageGrossProfitMargin * 100, 1, 0) , "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.IncomeStatementAnalysis_PercentageGrossProfitMargin * 100, 1, 0) , "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.IncomeStatementAnalysis_PercentageGrossProfitMargin * 100, 1, 0) , "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>Operating expenses (excluding depreciation & amortisation) as % of Revenue</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualPrior.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue * 100, 1, 0) , "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue * 100, 1, 0) , "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue * 100, 1, 0) , "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue * 100, 1, 0) , "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.IncomeStatementAnalysis_PercentageOperatingExpensesOfRevenue * 100, 1, 0) , "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>EBITDA margin</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualPrior.IncomeStatementAnalysis_EBITDAMargin * 100, 1, 0) , "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_EBITDAMargin * 100, 1, 0) , "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.IncomeStatementAnalysis_EBITDAMargin * 100, 1, 0) , "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.IncomeStatementAnalysis_EBITDAMargin * 100, 1, 0) , "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.IncomeStatementAnalysis_EBITDAMargin * 100, 1, 0) , "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>Depreciation and amortisation as % of Revenue</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualPrior.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue * 100, 1, 0) , "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue * 100, 1, 0) , "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue * 100, 1, 0) , "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue * 100, 1, 0) , "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.IncomeStatementAnalysis_PercentageDepreciationAndAmortOfRevenue * 100, 1, 0) , "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>EBIT margin</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualPrior.IncomeStatementAnalysis_EBITMargin * 100, 1, 0) , "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_EBITMargin * 100, 1, 0) , "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.IncomeStatementAnalysis_EBITMargin * 100, 1, 0) , "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.IncomeStatementAnalysis_EBITMargin * 100, 1, 0) , "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.IncomeStatementAnalysis_EBITMargin * 100, 1, 0) , "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>Interest cover</td>
                    <td class="ActualPrior reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.IncomeStatementAnalysis_InterestCover, "x")</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_InterestCover, "x")</td>
                    <td class="Budget reportTimes">&nbsp;</td>
                    <td class="Forecast1 reportTimes">&nbsp;</td>
                    <td class="Forecast2 reportTimes">&nbsp;</td>
                </tr>

                @*DETAIL END*@
            </table>






            <div class="RowDetail">
                <div style="padding-top:20px">Note: Interest expense is assumed to be equal to budget for the forecast years. This is for illustrative purposes only and has no impact on the valuation.</div>
            </div>

        </div>
        <div >
            <h5 class="Report">
                THE REASONABILITY AND ACCURACY OF THE FINACIAL FORECASTS PROVIDED TO EQUITYMAVEN IS THE MOST CRITICAL COMPONENT IN DETERMINING THE VALUATION. THE VALUATION IS DEPENDANT ON THESE FORECASTS BEING MET.
            </h5>
        </div>


    </div>


    @Html.Partial("Valuation/Report/PageFooter", Model)




