﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;

}


<table width="100%" height="90%">

    <tr height="1em">
        <td colspan="2">
            <div class="reportHeader2" headers="1">
                <div style="display: inline">
                    <h1 class="Report" style="margin-bottom:0;display: inline;">
                        LIQUIDATION VALUE
                    </h1>
                </div>
                <div style="display: inline">
                    <h1 class="Report" style="margin-bottom:0;display: inline; ">
                        SURVIVAL APPROACH

                    </h1>
                </div>
                <div class="reportLineHeader"></div>
            </div>
        </td>
    </tr>
    <tr height="1em">
        <td width="33%">
            <h3 class="Report">
                LIQUIDATION VALUE
            </h3>
        </td>

        <td>
            <h3 class="Report" style="margin-bottom:0;">
                PROBABILITY OF SURVIVAL
            </h3>
        </td>
    </tr>
    <tr style="font-size: x-small">
        <td width="33%" style="vertical-align:top;">
            <ul class="abc">
                <li>
                    Liquidation Value assumes that the value of a company is equal to the price that would be received if a company’s assets were to be sold on auction, less the 3rd-party liabilities of the company.
                </li>
                <li>
                    For this estimate, EquityMaven assumes that:
                </li>
                <li>
                    Accounts Receivable and Inventory could be sold for 80% of the respective book values;
                </li>
                <li>
                    Cash is assumed to be sold at 100% of book value;
                </li>
                <li>
                    Fixed Assets are assumed to be sold at 50% of book value;
                </li>
                <li>
                    Other Current Assets and Intangible Assets are assumed to have zero value in an auction scenario;
                </li>
                <li>
                    All 3rd-party debt and liabilities are assumed at 100% the respective book values.
                </li>
                <li>
                    This methodology is most appropriate for liquidation scenarios.
                </li>

            </ul>
        </td>
        <td  style="vertical-align:top;" colspan="2">
            <ul class="abc">
                <li>
                    The DCF and Multiples valuation approaches by themselves assume that the company being valued will survive and operate in perpetuity. This assumption is not always correct, particularly for young and start-up conpanies.
                </li>
                <li>
                    EquityMaven therefore performs a weighted average valuation between each of the DCF and Multiples valuation methods and the Liquidation Value.
                </li>
                <li>
                    A company’s probability of survival, based on how many years a company has already been operating, is used to calculate the weighted average valuation.
                </li>
                <li>
                    Probabilities of survival and failure are drawn from academic studies.
                </li>
                <li>
                    For example:
                    <div style="color: #ad2020;text-align: center;">
                        Valuation = (DCF Equity Value * Probability of Survival) + (Liquidation Value * Probability of Failure)
                    </div>
                    <div style="color: #ad2020;text-align: center;">
                        or
                    </div>
                    <div style="color: #ad2020;text-align: center;">
                        Valuation = (Multiples Equity Value * Probability of Survival) + (Liquidation Value * Probability of Failure)
                    </div>
                </li>
                <li>
                    The VC Method already automatically takes survival probabilities into account through the discount rate used and does not need to be probability-weighted in the same way.
                </li>
            </ul>

        </td>

    </tr>
    <tr>
        <td colspan="3" style="color: #ad2020;text-align: center;">
            EQUITYMAVEN WEIGHTS THE DCF AND MULTIPLES VALUATIONS BASED ON PROBABILITY OF SURVIVAL
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>

