﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel
@*http://bl.ocks.org/kiranml1/6872226*@
@using EquityMaven.Tools;
@{
    Layout = null;

}
@*<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>*@
 

<script>
     
   
    var page08Chart1 = { margin: { top: 20, right: 20, bottom: 30, left: 40 } };
    page08Chart1.width = 360 - page08Chart1.margin.left - page08Chart1.margin.right;
    page08Chart1.height = 200 - page08Chart1.margin.top - page08Chart1.margin.bottom;

    page08Chart1.x = d3.scaleBand()
        .rangeRound([0, page08Chart1.width], .1)
            .paddingInner(0.1);

    page08Chart1.y = d3.scaleLinear()
        .range([page08Chart1.height, 0]);

    page08Chart1.xAxis = d3.axisBottom()
        .scale(page08Chart1.x);

    page08Chart1.yAxis = d3.axisLeft()
        .scale(page08Chart1.y)
        .ticks(10, "%");

    page08Chart1.svg = d3.select("#page08Chart1").append("svg")
        .attr("width", page08Chart1.width + page08Chart1.margin.left + page08Chart1.margin.right)
        .attr("height", page08Chart1.height + page08Chart1.margin.top + page08Chart1.margin.bottom)
      .append("g")
        .attr("transform", "translate(" + page08Chart1.margin.left + "," + page08Chart1.margin.top + ")");

    page08Chart1.data = [{ label: 'DISCOUNTED CASH FLOW', value: 61671257, color: "#ad2020" }, { label: 'MULTIPLES', value: 79526720, color: "#3366CC" }, { label: 'VENTURE CAPITAL METHOD', value: 178417015, color: "#3366CC" }]


    page08Chart1.x.domain(page08Chart1.data.map(function (d) { return d.label; }));
    page08Chart1.y.domain([0, d3.max(page08Chart1.data, function (d) { return d.value; })]);

    page08Chart1.svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + page08Chart1.height + ")")
        .call(page08Chart1.xAxis);

    //page08Chart1.svg.append("g")
    //    .attr("class", "y axis")
    //    .call(page08Chart1.yAxis)
    //  .append("text")
    //    //.attr("transform", "rotate(-90)")
    //    .attr("y", 6)
    //    .attr("dy", ".71em")
    //    .style("text-anchor", "end")
    //    .text("value");

    page08Chart1.svg.selectAll(".bar")
        .data(page08Chart1.data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function (d) { return page08Chart1.x(d.label); })
        .attr("width", page08Chart1.x.bandwidth())
        .attr("y", function (d) { return page08Chart1.y(d.value); })
        .attr("height", function (d) { return page08Chart1.height - page08Chart1.y(d.value); })
        .style("fill", function (d) { return d.color; });

     

</script>
 