﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">

    <tr>

        <td colspan="2">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    INDUSTRY BENCHMARKING
                </h1>
                <div class="reportLineHeader"></div>
            </div>
        </td>

    </tr>
    <tr>

        <td width="50%">
            <table>
                <tr>
                    <td>
                        <h3 class="Report" style="">
                            TOTAL DEBT / EBITDA
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td class="smallformula">
                        $$\text{𝑇𝑜𝑡𝑎𝑙 𝐷𝑒𝑏𝑡/𝐸𝐵𝐼𝑇𝐷𝐴}= {\text{(𝑇𝑜𝑡𝑎𝑙 𝑖𝑛𝑡𝑒𝑟𝑒𝑠𝑡 𝑏𝑒𝑎𝑟𝑖𝑛𝑔 𝑑𝑒𝑏𝑡)} \over 𝐸𝐵𝐼𝑇𝐷𝐴}$$
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li class="smallpara">
                                It measures a company’s leverage by determining how much Total Debt a company has relative to its EBITDA. EBITDA is a proxy for operating cash flow (before capital expenditure and working capital changes).

                            </li>
                            <li class="smallpara">
                                This measure therefore provides a good indication of a company’s ability to service and repay its debt obligations.

                            </li>
                            <li class="smallpara">
                                Company’s with lower Total Debt / EBITDA ratios typically have less financial risk than those with higher ratios.

                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
        <td width="50%">
            <div height="100%" id="Page30Chart1"></div>
        </td>

    </tr>


    <tr>
        <td>
            <h3 class="Report" style="">
                INTEREST COVER

            </h3>
        </td>
        <td>
            <h3 class="Report" style="">
                CURRENT RATIO
            </h3>
        </td>
    </tr>

    <tr>
        <td class="smallformula">
            $$\text{𝐼𝑛𝑡𝑒𝑟𝑒𝑠𝑡 𝐶𝑜𝑣𝑒𝑟}= {\text{𝐸𝐵𝐼𝑇} \over \text{𝐺𝑟𝑜𝑠𝑠 𝑖𝑛𝑡𝑒𝑟𝑒𝑠𝑡 𝑒𝑥𝑝𝑒𝑛𝑠𝑒}}$$
        </td>
        <td class="smallformula">
            $$\text{𝐶𝑢𝑟𝑟𝑒𝑛𝑡 𝑅𝑎𝑡𝑖𝑜}= {\text{𝐶𝑢𝑟𝑟𝑒𝑛𝑡 𝐴𝑠𝑠𝑒𝑡𝑠}\over \text{𝐶𝑢𝑟𝑟𝑒𝑛𝑡 𝐿𝑖𝑎𝑏𝑖𝑙𝑖𝑡𝑖𝑒𝑠}}$$
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li class="smallpara">
                    It measures how many times greater a company’s operating profit is relative to its Gross Interest Expense obligations.
                </li>
                <li class="smallpara">
                    This measure therefore provides a good indication of a company’s ability to service its debt interest obligations and the margin of safety thereof.
                </li>
                <li class="smallpara">
                    Company’s with higher Interest Cover Ratios typically have less financial risk than those with lower ratios (unless the Company has an Interest Cover Ratio of zero due to it not having any interest-bearing debt).
                </li>

            </ul>


        </td>
        <td>
             
            <ul>

                <li class="smallpara">
                    It measures a company’s solvency by determining the degree to which Current Assets cover Current Liabilities.


                </li>
                <li class="smallpara">
                    This measure therefore provides a good indication of a company’s and ability to pay it’s short-term financial obligations.

                </li>
                <li class="smallpara">
                    Company’s with higher Current Ratios typically have a better ability to meet short-term financial obligations than those with lower ratios.

                </li>

            </ul>


        </td>
    </tr>



</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>

@Html.Partial("Valuation/Report/Page30Chart1", Model)

