﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}



<table width="100%"  >
    @*<tr>
        <td style="height:10px">
            &nbsp;
        </td>

    </tr>*@
    <tr>
         
        <td>
            <div class="reportHeader" headers="2">
                <h1 class="Report" style="margin-bottom:0;">
                    VALUATION PROCESS
                </h1>

                <div class="reportLineHeader"></div>
                <h3 class="Report" style="">
                    Overview
                </h3>
            </div>
        </td>
        
    </tr>

  
    <tr>
        <td >

            <div height="100%" id="page05Chart1"></div>
        </td>
    </tr>
    

    <tr>
        <td style="height:20px">
            &nbsp;
        </td>
    </tr>


    <tr>
        <td colspan="5">
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>


@Html.Partial("Valuation/Report/Page05Chart", Model)