﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
    //var inputsActualPrior = new EquityMaven.Data.Calculations.ValuationCalculator(Model.MonthsSinceLastFinancialYearEnd, Model.CurrentCashOnHand, Model.InputsActualPrior, null, Model.InputsActualCurrent);

    var InputsActualPrior = Model.FullValuationReport.ActualPrior;
    var InputsActualCurrent = Model.FullValuationReport.ActualCurrent;
    var InputsBudget = Model.FullValuationReport.Budget;
    var InputsForecast1 = Model.FullValuationReport.Forecast1;
    var InputsForecast2 = Model.FullValuationReport.Forecast2;
}



    <div class="aRow" @*class="Page6Test rowtest"*@>
        <div class="reportHeader" headers="2">
            <h1 class="Report" style="margin-bottom:0;">
                FINANCIAL INFORMATION
            </h1>

            <div class="reportLineHeader"></div>
            <h3 class="Report" style="">
                WORKING CAPITAL, LEVERAGE AND CAPITAL EXPENDITURE
            </h3>
        </div>
    </div>
    <div class="reportBody" headers="2">
        <div style="height:90%">
            <table style="width:100%">
                @*HEADING Start*@

                <tr>
                    <td class="RowHead ISDesc">
                        WORKING CAPITAL AND LEVERAGE
                    </td>
                    <td class="RowHead FYV">
                        ACTUAL
                    </td>
                    <td class="RowHead FYV">
                        ACTUAL
                    </td>
                    <td class="RowHead FYV">
                        BUDGET
                    </td>
                    <td class="RowHead FYV">
                        FORECAST
                    </td>
                    <td class="RowHead FYV">
                        FORECAST
                    </td>

                </tr>

                <tr>
                    <td class="RowHead ISDesc">
                        @{var _currencyName = Model.FullValuationReport.Currency == null ? "" : Model.FullValuationReport.ISOCurrencySymbol + " - " + Model.FullValuationReport.Currency.CurrencyEnglishName; }
                        @_currencyName
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(-1).ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(1).ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(2).ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(3).ToString("MMMM yyyy")
                    </td>
                </tr>
                @*HEADING END*@

                @*DETAIL START*@

                <tr class="RowDetail">
                    <td>Accounts Receivable</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.BalanceSheetTotalAssets_AccountsReceiveable)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_AccountsReceiveable)</td>
                    <td class="Budget">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetTotalAssets_AccountsReceiveable)</td>
                    <td class="Forecast1">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetTotalAssets_AccountsReceiveable)</td>
                    <td class="Forecast2">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetTotalAssets_AccountsReceiveable)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Inventory</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.BalanceSheetTotalAssets_Inventory)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_Inventory)</td>
                    <td class="Budget ">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetTotalAssets_Inventory)</td>
                    <td class="Forecast1 ">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetTotalAssets_Inventory)</td>
                    <td class="Forecast2 ">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetTotalAssets_Inventory)</td>
                </tr>


                <tr class="RowDetail">
                    <td>Other current assets</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.BalanceSheetTotalAssets_OtherCurrentAssets)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_OtherCurrentAssets)</td>
                    <td class="Budget">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetTotalAssets_OtherCurrentAssets)</td>
                    <td class="Forecast1">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetTotalAssets_OtherCurrentAssets)</td>
                    <td class="Forecast2">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetTotalAssets_OtherCurrentAssets)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Accounts Payable</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.BalanceSheetEquityAndLiabilities_AccountsPayable)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetEquityAndLiabilities_AccountsPayable)</td>
                    <td class="Budget ">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetEquityAndLiabilities_AccountsPayable)</td>
                    <td class="Forecast1 ">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetEquityAndLiabilities_AccountsPayable)</td>
                    <td class="Forecast2 ">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetEquityAndLiabilities_AccountsPayable)</td>
                </tr>
                <tr class="RowDetail">
                    <td>Other current liabilities</td>
                    <td class="ActualPrior">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities)</td>
                    <td class="ActualCurrent">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities)</td>
                    <td class="Budget">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities)</td>
                    <td class="Forecast1">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities)</td>
                    <td class="Forecast2">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetEquityAndLiabilities_OtherCurrentLiabilities)</td>
                </tr>


                <tr class="RowDetail">
                    <td>&nbsp;</td>
                    <td class="ActualPrior">&nbsp;</td>
                    <td class="ActualCurrent">&nbsp;</td>
                    <td class="Budget">&nbsp;</td>
                    <td class="Forecast1">&nbsp;</td>
                    <td class="Forecast2">&nbsp;</td>
                </tr>





                <tr class="RowDetail">
                    <td style="text-decoration-line:underline">Analysis of working capital and leverage</td>
                    <td class="ActualPrior">&nbsp;</td>
                    <td class="ActualCurrent">&nbsp;</td>
                    <td class="Budget">&nbsp;</td>
                    <td class="Forecast1">&nbsp;</td>
                    <td class="Forecast2">&nbsp;</td>
                </tr>

                <tr class="RowDetail">
                    <td>Accounts Receiveable (as % of Revenue)</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue * 100, 1, 0), "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue * 100, 1, 0), "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue * 100, 1, 0), "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue * 100, 1, 0), "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_PercentageAccountReceivableOverRevenue * 100, 1, 0), "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>Inventory (as % of Cost of Goods Sold)</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualPrior.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_PercentageInventoryOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>Other current assets (as % Cost of Goods Sold)</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualPrior.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_PercentageOtherCurrentAssetsOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>Accounts Payable (as % Cost of Goods Sold)</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualPrior.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_PercentageAccountsPayableOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td>Other current liabilities (as % Cost of Goods Sold)</td>
                    <td class="ActualPrior reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualPrior.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="ActualCurrent reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Budget reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Budget.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Forecast1 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                    <td class="Forecast2 reportpercentage">@ValueFormatter.ConvertZero(Math.Round(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_PercentageOtherCurrentLiabilitiesOverCostOfGoodsSold * 100, 1, 0), "%")</td>
                </tr>

                <tr class="RowDetail">
                    <td></td>
                    <td class="ActualPrior reportpercentage">&nbsp;</td>
                    <td class="ActualCurrent reportpercentage">&nbsp;</td>
                    <td class="Budget reportpercentage">&nbsp;</td>
                    <td class="Forecast1 reportpercentage">&nbsp;</td>
                    <td class="Forecast2 reportpercentage">&nbsp;</td>
                </tr>

                <tr class="RowDetail">
                    <td>Accounts Receiveable Days (average)</td>
                    <td class="ActualPrior reportTimes">&nbsp;</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td >
                    <td class="Budget reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                    <td class="Forecast1 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                    <td class="Forecast2 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Inventory Days (average)</td>
                    <td class="ActualPrior reportTimes">&nbsp;</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_AverageInventoryDays)</td>
                    <td class="Budget reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetAnalysis_AverageInventoryDays)</td>
                    <td class="Forecast1 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_AverageInventoryDays)</td>
                    <td class="Forecast2 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_AverageInventoryDays)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Accounts Payable Days (average)</td>
                    <td class="ActualPrior reportTimes">&nbsp;</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_AverageAccountsPayableDays)</td>
                    <td class="Budget reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetAnalysis_AverageAccountsPayableDays)</td>
                    <td class="Forecast1 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_AverageAccountsPayableDays)</td>
                    <td class="Forecast2 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_AverageAccountsPayableDays)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Accounts Receiveable Days (average)</td>
                    <td class="ActualPrior reportTimes">&nbsp;</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                    <td class="Budget reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                    <td class="Forecast1 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                    <td class="Forecast2 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                </tr>

                <tr class="RowDetail">
                    <td>&nbsp; </td>
                    <td class="ActualPrior reportTimes">&nbsp;</td>
                    <td class="ActualCurrent reportTimes">&nbsp;  </td>
                    <td class="Budget reportTimes">&nbsp;</td>
                    <td class="Forecast1 reportTimes">&nbsp;</td>
                    <td class="Forecast2 reportTimes">&nbsp;</td>
                </tr>

                <tr class="RowDetail">
                    <td>Accounts Receiveable Days (average)</td>
                    <td class="ActualPrior reportTimes">&nbsp;</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                    <td class="Budget reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                    <td class="Forecast1 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                    <td class="Forecast2 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Current ratio</td>
                    <td class="ActualPrior reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.BalanceSheetAnalysis_CurrentRatio)</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_CurrentRatio) </td>
                    <td class="Budget reportTimes">&nbsp;</td>
                    <td class="Forecast1 reportTimes">&nbsp;</td>
                    <td class="Forecast2 reportTimes">&nbsp;</td>
                </tr>

                <tr class="RowDetail">
                    <td>Total Debt / EBITDA</td>
                    <td class="ActualPrior reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.BalanceSheetAnalysis_TotalDebtOverEBITDA)</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_TotalDebtOverEBITDA) </td>
                    <td class="Budget reportTimes">&nbsp;</td>
                    <td class="Forecast1 reportTimes">&nbsp;</td>
                    <td class="Forecast2 reportTimes">&nbsp;</td>
                </tr>





                <tr>
                    <td class="RowHead ISDesc">
                        CAPITAL EXPENDITURE
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(-1).ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(1).ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(2).ToString("MMMM yyyy")
                    </td>
                    <td class="RowHead FYV">
                        @Model.FullValuationReport.LastFinancialYearEnd.AddYears(3).ToString("MMMM yyyy")
                    </td>
                </tr>




                <tr class="RowDetail">
                    <td>Capital expenditure</td>
                    <td class="ActualPrior reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.CapitalExpenditure_CapitalExpenditure)</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.CapitalExpenditure_CapitalExpenditure)</td>
                    <td class="Budget reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.CapitalExpenditure_CapitalExpenditure)</td>
                    <td class="Forecast1 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.CapitalExpenditure_CapitalExpenditure)</td>
                    <td class="Forecast2 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.CapitalExpenditure_CapitalExpenditure)</td>
                </tr>

                <tr class="RowDetail">
                    <td>Capital expenditure (as % Revenue)</td>
                    <td class="ActualPrior reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualPrior.CapitalExpenditure_PercentageForecastCapitalExpenditure)</td>
                    <td class="ActualCurrent reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.CapitalExpenditure_PercentageForecastCapitalExpenditure)</td>
                    <td class="Budget reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Budget.CapitalExpenditure_PercentageForecastCapitalExpenditure)</td>
                    <td class="Forecast1 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast1.CapitalExpenditure_PercentageForecastCapitalExpenditure)</td>
                    <td class="Forecast2 reportTimes">@ValueFormatter.ConvertZero(Model.FullValuationReport.Forecast2.CapitalExpenditure_PercentageForecastCapitalExpenditure)</td>
                </tr>
                @*DETAIL END*@
            </table>



             

        </div>
        <div>
            <h5 class="Report">
                THE REASONABILITY AND ACCURACY OF THE FINACIAL FORECASTS PROVIDED TO EQUITYMAVEN IS THE MOST CRITICAL COMPONENT IN DETERMINING THE VALUATION. THE VALUATION IS DEPENDANT ON THESE FORECASTS BEING MET.
            </h5>
        </div>


    </div>


    @Html.Partial("Valuation/Report/PageFooter", Model)




