﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">
   
    <tr>

        <td colspan="2">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    SECONDARY APPROACH - MULTIPLES VALUATION
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr>

        <td width="50%">
            <h3 class="Report" style="">
                EV / EBITDA MULTIPLES
            </h3>
        </td>
        <td width="50%">
            <h3 class="Report" style="">
                EQUITY VALUE

            </h3>
        </td>

    </tr>


    <tr>
        <td>
            <div height="100%" id="Page24Chart1"></div>
        </td>
        <td>
            <div height="100%" id="Page24Chart2"></div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <ul>
                <li class="smallpara">
                    The median Enterprise Value relative to EBITDA multiples (“EV / EBITDA”) of comparable companies in the same Thomson Reuters Business Classification category for various geographic regions were sourced.
                </li>

                <li class="smallpara">
                    The World median EV/EBITDA earnings multiple was then applied to the Company’s EBITDA for the last twelve months, normalised to exclude non-recurring income/expenses. The result is the Enterprise Value which is the valuation of the Company before taking into account excess cash balances, interest-bearing debt or any illiquidity discounts.
                </li>

                <li class="smallpara">
                    Once excess cash is added and interest-bearing debt subtracted, the result is the Equity Value prior to any discounts.
                </li>

                <li class="smallpara">
                    The Equity Value then needs to be discounted to take into account the fact that the shareholding in the Company is not as liquid as a publically traded firm. A private sale of shares would generally take longer and would most likely be more costly than selling publically traded shares. An illiquidity discount of 35% has been applied based on empirical evidence.
                </li>

                <li class="smallpara">
                    The result is the Equity Value, and this is the value of 100% of the shareholding in the Company.
                </li>

            </ul>

        </td>
    </tr>

    
</table>

<table width="100%">
    <tr>
        <td  >
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>

@Html.Partial("Valuation/Report/Page24Chart1", Model)

@Html.Partial("Valuation/Report/Page24Chart2", Model)