﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" >
    <tr>
        <td>
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;"></h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>
    </tr>
</table>

<table width="100%" height="50%" >
    <tr>
        <td height="40px" >
            &nbsp;
        </td>
    </tr>
    <tr height="40px">
        <td class="P28H1" >
                Industry benchmarking
        </td>
    </tr>
    <tr>
        <td height="10px">
            <div class="P28Line"></div>
        </td>
    </tr>
    <tr>
        <td class="P28H2" height="10px">
            Annexure 3
        </td>
    </tr>
    <tr>
        <td class="P28P" height="30px">
            This annexure provides benchmarking of the Company against companies operating globally in the same industry. The purpose is to provide feedback where the Company is either performing better (green tick) or worse (red cross) than industry averages. Metrics that are indicated to be worse than industry averages may be potential areas for improvement which, if improved upon, could potentially increase the Company valuation.

        </td>
    </tr>

</table>
<table width="100%" height="25%">
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>

    <table width="100%">
        <tr>
            <td>
                @Html.Partial("Valuation/Report/PageFooter", Model)
            </td>
        </tr>
    </table>
