﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;

}




<table width="100%" height="90%">

    <tr>
        <td>
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    TIME VALUE OF MONEY AND DISCOUNTED CASH FLOW
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr style="font-size:x-small;">
        <td width="100%">
            <h3 class="Report" style="">
                TIME VALUE OF MONEY
            </h3>
            <ul>
                <li>
                    The premise of Time Value of Money (”<string>TVM</string>”) is that a dollar today is worth more than a dollar at some time in the future.
                </li>
                <li>
                    This is because the dollar today has earning potential and could be invested to earn a return.
                </li>
                <li>
                    For example, if $1.00 was invested at 10% then one year from today it would be worth $1.10.
                </li>
                <li>
                    TVM is therefore based on the concept that money can be invested to earn a return at a rate which is called the ”<strong>Discount Rate</strong>”.
                </li>
                <li>
                    The Discount Rate is the rate of return that that you would expect to make on an investment, given how risky that particular investment is.
                </li>
                <li>
                    The value of an investment today would therefore be equal to the expected future value of that investment, discounted to the present value using the Discount Rate. For example, if the expected value of the investment is $1.00 one year from now and the Discount Rate is 10%, then the present value of the investment would be $0.91.
                </li>
            </ul>
        </td>
    </tr>
    <tr style="font-size:x-small;"> 
        <td width="100%">
            <h3 class="Report" style="">
                DISCOUNTED CASH FLOW VALUATION

            </h3>
            <ul>
                The premise of a discounted cash flow (”<strong>DCF</strong>”) valuation is that the value of a company is derived from the future cash flows expected to be produced by that company. This is considered the most theoretically robust valuation method.
                </li>
                <li>
                    Forecast cash flows are discounted to present value using a Discount Rate which takes into account the riskiness of the Company’s estimated cash flows.
                </li>
                <li>
                    The Terminal Value is then calculated which is the estimated present value of all of the cash flows beyond the forecasts provided by the user (into perpetuity).
                </li>
                <li>
                    Free cash flows are calculated after deducting changes in working capital and capital expenditure from operational cash flow.
                </li>
                <li>
                    Estimating the free cash flow projections for the company is therefore the cornerstone of a DCF valuation.
                </li>
                <li>
                    Once the future projections are estimated with the most reasonable degree of accuracy possible, they can then be discounted to the present value using a Discount Rate.
                </li>
                <li>
                    Estimating an appropriate Discount Rate is the next crucial step. A higher Discount Rate will be required for higher risk free cash flow projections. The Discount Rate is the rate of return that that an investor would expect to make on an investment, given how risky that particular investment is. This would equate to how much an investor could expect to earn by investing funds elsewhere in equally as risky assets. The Discount Rate used when calculating the Enterprise Value (see definition) is the weighted average cost of capital (“<strong>WACC</strong>”).
                </li>
                <li>
                    A results of a DCF valuation will therefore be determined by the assumptions underlying the calculation of the projected free cash flow as well as the Discount Rate. Changes in these assumptions can significantly alter the end result so due care must be made to ensure accuracy.
                </li>
            </ul>
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>



@Html.Partial("Valuation/Report/Page22Chart", Model)