﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">

    <tr>

        <td colspan="2">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    ADJUSTMENTS TO VALUATIONS FOR PROBABILITY OF SURVIVAL
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr>

        <td width="50%">
            <h3 class="Report" style="">
                PROBABILITY OF SURVIVAL / FAILURE
            </h3>
        </td>
        <td width="50%">
            <h3 class="Report" style="">
                EQUITY VALUE - SURVIVAL ADJUSTED
            </h3>
        </td>

    </tr>


    <tr>
        <td>
            <div height="100%" id="Page26Chart1"></div>
        </td>
        <td>
            <div height="100%" id="Page26Chart2"></div>
        </td>
    </tr>

    <tr>
        <td colspan="2">

            <ul>

                <li class="smallpara">
                    First, the Equity Values from the DCF and Multiples valuations are weighted according to the probability of the Company surviving into perpetuity.
                </li>
                <li class="smallpara">
                    Survival probability rates used are based on academic studies.
                </li>
                <li class="smallpara">
                    A probability-weighted Equity value is the result.
                </li>
                <li class="smallpara">
                    Similarly, the Liquidation Value is also then probability-weighted according to the probability of the Company failing (and being liquidated)
                </li>
                <li class="smallpara">
                    These two probability weighted values are then added together to determine the Equity Value, adjusted for probability of survival
                </li>
                <li class="smallpara">
                    The VC Method already automatically takes survival probabilities into account through the discount rate used and does not need to be probability-weighted in the same way.
                </li>

            </ul>


        </td>
    </tr>

    <tr>
        <td class="PRED" colspan="2">
            EQUITYMAVEN USES THE DCF AS ITS PRIMARY METHODOLOGY
        </td>
    </tr>
    <tr>
        <td class="PRED" colspan="2">
                THE SURVIVAL-ADJUSTED VALUATION OF THE COMPANY IS THEREFORE […] BASED ON THE DCF VALUATION
        </td>
    </tr>

</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>

@Html.Partial("Valuation/Report/Page26Chart1", Model)

@Html.Partial("Valuation/Report/Page26Chart2", Model)