﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}

<table width="100%">
    <tr>
        <td style="height:50px">
            &nbsp;
        </td>

    </tr>
    <tr>
        <td colspan="3">
            <img src="~/Content/Page3Header.jpg" width="100%" />
        </td>
    </tr>
    <tr>
        <td width="10%">
            &nbsp;
        </td>
        <td>
            <h3 class="Report" style="margin-bottom:0;">
                DISCLAIMER
            </h3>

            <div class="reportLineHeader"></div>
        </td>
        <td width="10%">
            &nbsp;
        </td>

    </tr>

    <tr>
        <td width="10%">
            &nbsp;
        </td>
        <td>
            <p class="disclaimer">
                EquityMaven does not represent or endorse the accuracy or reliability of any advice, opinion, statement or any other information displayed or distributed through this report or its website. The estimates and data contained herein are made using the information you provide as well as publicly available information and data. EquityMaven has not audited or attempted to confirm this information for accuracy or completeness. This report should not be used to obtain credit or for any other commercial purposes. This report is the intellectual property of EquityMaven and the information provided herein is provided for your internal use only and may not be copied or redistributed for any reason. Your use of this report and the information provided herein is also subject to the online terms of use and privacy policy of EquityMaven.
            </p>
            <p class="disclaimer">
                While this valuation was generated considering as many company, industry and location-specific details as available, the value presented in this report is an automated estimation of the fair value of the business. Some events and circumstances that might impact the overall valuation of a specific business may not be taken into account for the purpose of this report. Valuation methods from the income and market approach have been utilized to reach the valuation results for the Company. The opinion of value given in this report is based on information provided by the user and other sources. This information you input is assumed to be accurate and complete. However, EquityMaven has not audited or attempted to confirm this information for accuracy or completeness. It is important to note that the estimates presented herein are not final numbers. Instead, we are providing general estimates. As a result, the overall valuation should be considered a frame of reference and not an official appraisal.
            </p>
        </td>
        <td width="10%">
            &nbsp;
        </td>
    </tr>


    @*<tr>
        <td style="height:130px">
            &nbsp;
        </td>

    </tr>*@


    <tr>
        <td colspan="3">
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>


