﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;

}




<table width="100%" height="90%">

    <tr>
        <td>
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    MULTIPLES
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr style="font-size:x-small;">
        <td  >
            <h3 class="Report" style="">
                EV/EBITDA MULTIPLE VALUATION

            </h3>
            <ul>
                <li>
                    The first step is to calculate the sustainable EBITDA for the trailing (last) twelve months for the company being valued. Assume this is $20,000 as per the financial information in the DCF example.
                </li>
                <li>
                    Sustainable EBITDA is the EBITDA after subtracting any earnings and adding back any expenses that are once-off in nature and are not expected to recur. This will give a more normalised picture of what the company EBITDA is expected to be going forward.
                </li>
                <li>
                    Next, an appropriate valuation multiple must then be applied to the Sustainable EBITDA to result in an Enterprise Value for the company being valued.
                </li>
                <li>
                    An appropriate valuation multiple is calculated by looking at other firms that are comparable to the company being valued and that are listed on public stock exchanges. The comparable company Enterprise Values are divided by their respective trailing twelve month EBITDAs (EBITDA over the last 12-month period) to arrive at Enterprise Value to EBITDA (“<strong>EV/EBITDA</strong>”) ratios for each comparable company.
                </li>
                <li>
                    A median of these comparable EV/ EBITDA ratios is then calculated and applied to the trailing twelve month sustainable EBITDA of the company being valued to result in the Enterprise Value.
                </li>
                <li>
                    Excess cash is then added and interest-bearing debt subtracted from the Enterprise Value to calculate the Equity Value and an illiquidity discount is then applied if the company is privately held (as was done with the DCF valuation).
                </li>
                <li>
                    This type of valuation can only be performed if the EBITDA for the company being valued is positive.
                </li>
            </ul>
        </td>
     
        <td width="50%"  >
            <img src="~/Content/p15grid1.jpg" style="max-width:100%;max-height:50%;" />
            <img src="~/Content/p15chart1.jpg" style="max-width:100%;max-height:50%;" />
            
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>



@Html.Partial("Valuation/Report/Page22Chart", Model)