﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
} 


<table width="100%" height="90%">
  
    <tr>

        <td colspan="2">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    PRIMARY APPROACH – DCF VALUATION
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr>

        <td width="50%">
            <h3 class="Report" style="">
                FREE CASH FLOWS
            </h3>
        </td>
        <td width="50%">
            <h3 class="Report" style="">
                EQUITY VALUE

            </h3>
        </td>

    </tr>


    <tr>
        <td>
            <div height="100%" id="page23Chart1"></div>
        </td>
        <td>
            <div height="100%" id="page23Chart2"></div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <ul>
                <li class="smallpara">
                    The free cash flows in the chart above represent the operational cash flows of the Company (for the budget as well as first two forecast years) after taking into account changes in working capital, taxation and capital expenditure.
                </li>
                <li class="smallpara">
                    The Terminal Value is then calculated which is the estimated present value of all of the cash flows beyond the forecasts provided by the user (into perpetuity) using a terminal growth rate equal to the risk-free rate.
                </li>
                <li class="smallpara">
                    These free cash flows are all discounted at the WACC of the Company.
                </li>
                <li class="smallpara">
                    The result is the Enterprise Value (see blue bar in “Equity Value” graph above) which is the valuation of the Company before taking into account excess cash balances and interest-bearing debt.
                </li>
                <li class="smallpara">
                    Once excess cash is added and interest-bearing debt subtracted, the result is the Equity Value prior to any discounts.
                </li>
                <li class="smallpara">
                    The Equity Value then needs to be discounted to take into account the fact that the shareholding in the Company is not as liquid as a publically traded firm. A private sale of shares would generally take longer and would most likely be more costly than selling publically traded shares. An illiquidity discount of 35% has been applied based on empirical evidence.
                </li>
                <li class="smallpara">
                    The result is the Equity Value, and this is the value of 100% of the shareholding in the Company.
                </li>
            </ul>
        </td>
    </tr>

</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>

@Html.Partial("Valuation/Report/Page23Chart1", Model)

@Html.Partial("Valuation/Report/Page23Chart2", Model)