﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">

    <tr>

        <td colspan="6">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    PRIMARY APPROACH – DCF – COST OF DEBT
                </h1>
                <div class="reportLineHeader"></div>
            </div>
        </td>

    </tr>
    <tr>
        <td colspan="6">
            <h3 class="Report" style="">
                THE COMPANY’S COST OF DEBT IS CALCULATED USING SYNTHETIC DEBT RATINGS
            </h3>
        </td>
    </tr>
    <tr>
        <td colspan="6" class="bandWhiteOnBlue">
            $$R_{{D}} = R_{{F}} + \text{CORP}_{{DS}} + \text{COUNTRY}_{{DS}}$$
        </td>
    </tr>

    <tr style="font-size: x-small">
        <td width="5%">
            $$R_{{D}} $$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>

        </td>
        <td width="40%" style="vertical-align:top;">
            <ul style="padding-left:1px;padding-top:5%">
                <li>
                    Company’s cost of debt.

                </li>
                <li>
                    Determined by beginning with the risk free rate and then adding a corporate default spread as well as a country default spread.

                </li>

            </ul>
        </td>


        <td width="5%">
            $$\text{CORP}_{{DS}}$$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%" style="vertical-align:top;">
            <ul style="padding-left:1px;padding-top:5%">
                <li>
                    The corporate default spread is computed by first estimating a credit rating for the Company based on the interest cover ratio. The interest cover ratio is assumed to be the median for the comparable sector peer group. This assumes that the Company’s debt structure will tend towards the industry average in future. Based on the assumed credit rating, a corporate default spread can be calculated by analysing the spread of the yields of listed corporate bonds with the same credit rating over the risk-free rate.
                </li>
            </ul>
        </td>
    </tr>





    <tr style="font-size: x-small">
        <td width="5%">
            $$R_{{F}} $$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%" style="vertical-align:top;">
            <ul style="padding-left:1px;padding-top:5%">
                <li>
                    Risk-free rate is the expected return on a risk-free asset.
                </li>
                <li>
                    Risk-free rates are estimated using 10-year local currency government bond yields. This is then reduced by an estimated default spread implied in the yield of those bonds (if the country issuing the bond has a Moody’s rating of less than Aaa) to arrive at a true risk-free rate.
                </li>
                <li>
                    Risk-free rates must be consistent with the currency of the valuation cash flows i.e. if the currency of the valuation cash flows is in USD then the risk-free rate will be based off of the US 10-year government bond rate.

                </li>
            </ul>
        </td>

        <td width="5%">
            $$\text{CNTRY}_{{DS}}$$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%" style="vertical-align:top;">

            <ul style="padding-left:1px;padding-top:5%">
                <li>
                    Company’s that earn income in countries with low sovereign bond ratings may also be subject to country default risk. A country default spread over the risk-free rate is estimated by using CDS and sovereign bond spreads.
                </li>
            </ul>
        </td>
    </tr>



</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>
