﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;

}




<table width="100%" height="90%">

    <tr>
        <td>
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    DISCOUNTED CASH FLOW EXAMPLE
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr style="font-size:x-small;">
        <td width="100%">
            <h3 class="Report" style="">
                SIMPLIFIED ILLUSTRATION
            </h3>
            <ul>
                <li>
                    The illustrative example alongside shows a usual income statement forecast up to the EBIT line.
                </li>
                <li>
                    From EBIT, taxes (excluding taxes on net interest income/expense) are deducted to arrive at Net Operating Profit After Tax (“<strong>NOPLAT</strong>”).
                </li>
                <li>
                    NOPLAT plus depreciation, amortisation and any other non-cash expenses; less changes in working capital; less capital expenditure results in free cash flow.
                </li>
                <li>
                    The assumptions in this example are a WACC / Discount Rate of 10% and a Terminal Growth Rate of 3% (the rate at which it is assumed that free cash flows will grow forever in the terminal year and beyond).
                </li>
                <li>
                    The Terminal Value is then calculated by dividing the free cash flow in the terminal year by WACC minus the Terminal Growth Rate (10% - 3%).
                </li>
                <li>
                    All of the free cash flows (including the Terminal Value) are then discounted to present value using the WACC / Discount Rate of 10%.
                </li>
                <li>
                    The aggregate of all of the discounted free cash flows is then equal to the “<strong>Enterprise Value</strong>”. This is how much the business in the example would be worth if it had no excess cash or interest-bearing debt on balance sheet.
                </li>
                <li>
                    From the Enterprise Value, excess cash is then added and interest-bearing debt subtracted to arrive at the “<strong>Equity Value</strong>” which is the value of the company including its excess cash and debt.
                </li>
                <li>
                    An illiquidity discount should then be applied to the Equity Value if the shares of the company are not listed on a stock exchange and freely tradeable.
                </li>
                <li>
                    The Equity Value after the illiquidity discount is applied is what 100% of the shareholding in the example company would be worth.
                </li>
            </ul>
        </td>
    </tr>
    <tr style="font-size:x-small;">
        <td width="100%" height="200px">
            <img src="~/Content/page14Grid.jpg" style="max-width:100%;max-height:100%;"/>
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>



@Html.Partial("Valuation/Report/Page22Chart", Model)