﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">

    <tr>

        <td colspan="2">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    INDUSTRY BENCHMARKING
                </h1>
                <div class="reportLineHeader"></div>
            </div>
        </td>

    </tr>
    <tr>

        <td width="50%">
            <table>
                <tr>
                    <td>
                        <h3 class="Report" style="">
                            ACCOUNTS RECEIVABLE DAYS (AVERAGE)
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td class="smallformula">
                        $$\text{𝐴𝑅 𝐷𝑎𝑦𝑠 (𝑎𝑣𝑒)}= {\text{𝐴𝑣𝑒𝑟𝑎𝑔𝑒 𝑎𝑐𝑐𝑜𝑢𝑛𝑡𝑠 𝑟𝑒𝑐𝑒𝑖𝑣𝑎𝑏𝑙𝑒} \over 𝑅𝑒𝑣𝑒𝑛𝑢𝑒} x 365$$
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li class="smallpara">
                                Accounts Receivable Days (average) is also called “Accounts Receivable Collection Period” or “Days Sales Outstanding”.

                            </li>
                            <li class="smallpara">
                                It measures how long customers are taking to pay a company.

                            </li>
                            <li class="smallpara">
                                Lower Accounts Receivable Days is better than higher Accounts Receivable Days. Lower Accounts Receivable Days means that less of a company’s cash is tied up in Accounts Receivables and therefore more cash is immediately available to the Company.

                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
        <td width="50%">
            <div height="100%" id="Page31Chart1"></div>
        </td>

    </tr>


    <tr>
        <td>
            <h3 class="Report" style="">
                Inventory days (Average)


            </h3>
        </td>
        <td>
            <h3 class="Report" style="">
                Accounts payable days (AVERAGE)

            </h3>
        </td>
    </tr>

    <tr>
        <td class="smallformula"> 
            $$\text{𝐼𝑛𝑣 𝐷𝑎𝑦𝑠 (𝑎𝑣𝑒)}= {\text{𝐴𝑣𝑒𝑟𝑎𝑔𝑒 𝑖𝑛𝑣𝑒𝑛𝑡𝑜𝑟𝑦} \over \text{𝐶𝑜𝑠𝑡 𝑜𝑓 𝑠𝑎𝑙𝑒𝑠}} x 365$$
        </td>
        <td class="smallformula">
            $$\text{𝐴𝑃 𝐷𝑎𝑦𝑠 (𝑎𝑣𝑒)}= {\text{𝐴𝑣𝑒𝑟𝑎𝑔𝑒 𝑎𝑐𝑐𝑜𝑢𝑛𝑡𝑠 𝑝𝑎𝑦𝑎𝑏𝑙𝑒}\over \text{𝐶𝑜𝑠𝑡 𝑜𝑓 𝑠𝑎𝑙𝑒𝑠}} x 365$$
        </td>
    </tr>
    <tr>
        <td>
            <ul class="smallpara">
                <li class="smallpara">
                    It measures how long it takes a company to convert Inventory into Revenue.

                </li>
                <li class="smallpara">
                    Lower Inventory Days is better than higher Inventory Days. Lower Inventory Days means that less of a company’s cash is tied up in Inventory and therefore more cash is immediately available.
                </li>

            </ul>


        </td>
      
        <td>
            <ul class="smallpara">

                <li class="smallpara">
                    Accounts Payable Days is also called “Days Payable Outstanding”.
                </li>
                <li class="smallpara">
                    It measures how long a company is taking to pay its suppliers.
                </li>
                <li class="smallpara">
                    Generally, higher Accounts Payable Days are better for a company. Higher days means that less of a company’s cash is tied up in paying Accounts Payables, and therefore more cash is immediately available to the company for other purposes.
                </li>
                <li class="smallpara">
                    Abnormally low Accounts Payable Days may, however, be a bad sign and could mean that suppliers are demanding shorter payment terms because they are not confident of a company’s credit worthiness.Abnormally low Accounts Payable Days may, however, be a bad sign and could mean that suppliers are demanding shorter payment terms because they are not confident of a company’s credit worthiness.
                </li>
            </ul>


        </td>
    </tr>



</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>

@Html.Partial("Valuation/Report/Page31Chart1", Model)

