﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;

}




<table width="100%" height="90%">

    <tr>
        <td>
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    VENTURE CAPITAL METHOD
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr style="font-size:x-small;">
        <td width="100%">
            <h3 class="Report" style="">
                VENTURE CAPITAL METHOD VALUATION
            </h3>
            <ul>
                <li>
                    The first step is to calculate the EBITDA for the last year of forecasts (year 5 in this example).
                </li>
                <li>
                    Assume this is $40,301 as per the financial information in the DCF example on page 14.
                </li>
                <li>
                    Next, an appropriate valuation multiple must then be applied to the EBITDA to result in an Enterprise Value for the company being valued.
                </li>
                <li>
                    An appropriate valuation multiple is calculated by looking at other firms that are comparable to the company being valued and that are listed on public stock exchanges. The comparable company Enterprise Values are divided by their respective trailing twelve month EBITDAs (EBITDA for the last 12-month period) to arrive at Enterprise Value to EBITDA (“<strong>EV/EBITDA</strong>”) ratios for each comparable company.
                </li>
                <li>
                    A median of these comparable EV/ EBITDA ratios is then calculated and applied to the forecast EBITDA of the company being valued to result in the Enterprise Value.
                </li>
                <li>
                    Assume this is 8.9x as per the Multiples Example on page 15
                </li>
                <li>
                    The resultant Enterprise Value is then discounted at the rate of return required by the potential venture capital investor.
                </li>
                <li>
                    The required rate of return will depend on the stage of life of the company being valued e.g. start-up vs early development vs expansion vs bridge/IPO stages.
                </li>
                <li>
                    Excess cash is then added and interest-bearing debt subtracted from the Discounted Enterprise Value to calculate the Equity Value.
                </li>
                <li>
                    Note: no illiquidity discount or survival probability is applied in this method. The rate of return required by the potential venture capital investor already takes these factors into account.
                </li>
            </ul>
        </td>
    </tr>
    <tr style="font-size:x-small;">
        <td width="100%" height="200px">
            <img src="~/Content/page16Grid.jpg" style="max-width:100%;max-height:100%;" />
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>



@Html.Partial("Valuation/Report/Page22Chart", Model)