﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
    ////var inputsActualPrior = new EquityMaven.Data.Calculations.ValuationCalculator(Model.MonthsSinceLastFinancialYearEnd, Model.CurrentCashOnHand, Model.InputsActualPrior, null, Model.InputsActualCurrent);

    //var inputYears = Model.FullValuationReport.FinancialYears;
    //var InputsActualPrior = Model.FullValuationReport.ActualPrior;
    //var InputsActualCurrent = Model.FullValuationReport.ActualCurrent;
    //var InputsBudget = Model.FullValuationReport.Budget;
    //var InputsForecast1 = Model.FullValuationReport.Forecast1;
    //var InputsForecast2 = Model.FullValuationReport.Forecast2;
}



    <div class="aRow"  >
        <div class="reportHeader" headers="2">
            <h1 class="Report" style="margin-bottom:0;">
                VALUATION SUMMARY
            </h1>

            <div class="reportLineHeader"></div>
            <h3 class="Report" style="">
                EQUITY VALUE - ADJUSTED FOR PROBABILITY OF SURVIVAL
            </h3>
        </div>
    </div>

    <div class="reportBody" headers="2">
        <div style="height:90%">

            <table width="100%">
                <tr>
                    <td width="50%" height="200px">
                        <div  width="50%" id="page08Chart1"></div>
                    </td>
                    <td width="50%">
                        <table width="100%">
                            <tr>
                                <td>
                                    The Equity Value is the Enterprise Value plus excess cash balances minus interest-bearing debt, adjusted for an illiquidity discount. <span style="text-decoration-line:underline">It is the value of the Company if it were to be sold as is along with the cash on balance sheet and with its interest-bearing debt obligations.</span> This is the value of 100% of the shareholding / equity of the Company.
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>

                                <td class="EquityValueChartRedText">
                                    The discounted cash flow valuation (adjusted for probability of survival) is the estimated valuation of the company.
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="EquityValueChartBlueText">
                                    The multiples valuation (adjusted for probability of survival) is used only to corroborate the findings of the discounted cash flow valuation.
                                </td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="EquityValueChartBlueText">
                                    The venture capital method is shown for illustrative and indicative purposes only
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </div>

    </div>


    @Html.Partial("Valuation/Report/PageFooter", Model)



@*@Html.Partial("Valuation/Report/Page10Chart", Model);*@ 
@Html.Partial("Valuation/Report/Page10Chart", Model);