﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}

<table  width="100%" style="height:10px;">
    <tr >
        <td style="height:50px">
            &nbsp;
        </td>

    </tr>

    <tr >
        <td width="65%"></td>
        <td >
            STRICTLY PRIVATE AND CONFIDENTIAL
        </td>

    </tr>
    <tr>
        <td width="65%"></td>
        <td >
            <img src="~/Content/emLogo.jpg" style="width:200px;" />
        </td>

    </tr>

    <tr>
        <td style="height:150px">
            &nbsp;
        </td>

    </tr>
    <tr class="RowHead">
        <td colspan="2" style="height:80px;font-size:large;">
           &nbsp; VALUATION OF @Model.FullValuationReport.CompanyName.ToUpper()
        </td>
    </tr>

</table>



@*<div class="reportHeader" headers="1">
        <h1 class="Report" style="margin-bottom:0;">
            EXECUTIVE SUMMARY
        </h1>

        <div class="reportLineHeader"></div>

    </div>*@
