﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
    var InputsActualPrior = Model.FullValuationReport.ActualPrior;
    var InputsActualCurrent = Model.FullValuationReport.ActualCurrent;
    var InputsBudget = Model.FullValuationReport.Budget;
    var InputsForecast1 = Model.FullValuationReport.Forecast1;
    var InputsForecast2 = Model.FullValuationReport.Forecast2;
}



    <div class="aRow">
        <div class="reportHeader" headers="1">
            <h1 class="Report" style="margin-bottom:0;">
                EXECUTIVE SUMMARY
            </h1>

            <div class="reportLineHeader"></div>

        </div>

        <div class="reportBody" headers="1">
            <div style="height:22%">
                <table style="width:100%">
                    <tr>
                        <td style="width:49%">

                            <table style="width:100%">
                                <tr>
                                    <td class="RowHead">
                                        COMPANY NAME
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Model.FullValuationReport.CompanyName &nbsp;
                                    </td>
                                </tr>

                                <tr>
                                    <td class="RowHead">
                                        INDUSTRY (THOMPSON REUTERS BUSINESS CLASSIFICATION)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Model.FullValuationReport.TRBC2012HierarchicalID &nbsp;
                                    </td>
                                </tr>


                                <tr>
                                    <td class="RowHead">
                                        COUNTRY WHERE MAJORITY OF OPERATIONS TAKE PLACE
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @{
                                            var countryName = @Model.FullValuationReport.Country == null ? "" : Model.FullValuationReport.Country.CountryEnglishName;
                                        }

                                        @countryName &nbsp;
                                    </td>
                                </tr>



                                <tr>
                                    <td class="RowHead">
                                        NUMBER OF EMPLOYEES
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Model.FullValuationReport.NumberOfEmployees &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:1%"></td>
                        <td style="width:49%">
                            <table style="width:100%">
                                <tr>
                                    <td class="RowHead">
                                        CURRENCY - ALL AMOUNTS IN THIS PRESENTATION ARE STATED IN
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @{ 
                                            var currencyName = @Model.FullValuationReport.Currency == null ? "" : Model.FullValuationReport.ISOCurrencySymbol + " - " + Model.FullValuationReport.Currency.CurrencyEnglishName;
                                        }
                                        @currencyName&nbsp;
                                    </td>
                                </tr>

                                <tr>
                                    <td class="RowHead">
                                        LAST FINANCIAL YEAR-END
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Model.FullValuationReport.LastFinancialYearEnd.ToString("dd MMMM yyyy")&nbsp;
                                    </td>
                                </tr>


                                <tr>
                                    <td class="RowHead">
                                        YEAR OF COMMENCING BUSINESS OPERATIONS
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Model.FullValuationReport.DateOfCommencement.ToString("yyyy")&nbsp;
                                    </td>
                                </tr>



                                <tr>
                                    <td class="RowHead">
                                        VALUATION REPORT DATE
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Model.FullValuationReport.ValuationDate.ToString("dd MMMM yyyy")&nbsp;
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>




                </table>


                <table style="width:100%">
                    @*HEADING Start*@
                    <tr>
                        <td class="RowHead ISDesc">
                            INCOME STATEMENT
                        </td>
                        <td class="RowHead ISValue">
                            ACTUAL
                        </td>
                        <td class="RowHead ISBSSeperator"></td>
                        <td class="RowHead BSDesc">Balance Sheet</td>
                        <td class="RowHead BSValue"></td>
                        <td class="RowHead BSDesc"></td>
                        <td class="RowHead BSValue"></td>
                    </tr>
                    <tr>
                        <td class="RowHead ISDesc">@Model.FullValuationReport.Currency&nbsp;</td>
                        <td class="RowHead ISValue">@Model.FullValuationReport.LastFinancialYearEnd.ToString("dd MMMM yy")&nbsp;</td>
                        <td class="RowHead ISBSSeperator"></td>
                        <td class="RowHead BSDesc">@Model.FullValuationReport.Currency&nbsp;</td>
                        <td class="RowHead BSValue">@Model.FullValuationReport.LastFinancialYearEnd.ToString("dd MMMM yy")&nbsp;</td>
                        <td class="RowHead BSDesc"></td>
                        <td class="RowHead BSValue"></td>
                    </tr>
                    <tr>
                        <td class="RowHead ISDesc"> &nbsp;</td>
                        <td class="RowHead ISValue"> &nbsp;</td>
                        <td class="RowHead ISBSSeperator"></td>
                        <td class="RowHead BSDesc">TOTAL ASSETS</td>
                        <td class="RowHead BSValue">&nbsp;</td>
                        <td class="RowHead BSDesc">EQUITY AND LIABILITIES</td>
                        <td class="RowHead BSValue"></td>
                    </tr>
                    @*HEADING END*@

                    @*DETAIL START*@
                    <tr>
                        <td class="ISDesc">Revenue</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_Revenue)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc" style="font-weight:900">Current Assets</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_CurrentAssets)</td>
                        <td class="BSDesc" style="font-weight:900">Current Liabilities</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetEquityAndLiabilities_CurrentLiabilities)</td>
                    </tr>

                    <tr>
                        <td class="ISDesc">Cost of Goods Sold</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_CostOfGoodsSold)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">&nbsp;&nbsp;Accounts Receiveable</td>
                        <td class="BSValue" @Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_AccountsReceiveable)</td>
                        <td class="BSDesc">&nbsp;&nbsp;Accounts Payable</td>
                        <td class="BSValue" @Model.FullValuationReport.ActualCurrent.BalanceSheetEquityAndLiabilities_AccountsPayable)</td>
                    </tr>
                    <tr>
                        <td class="ISDesc">Gross Profit</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_GrossProfit)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">&nbsp;&nbsp;Inventory</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_Inventory)</td>
                        <td class="BSDesc">&nbsp;&nbsp;Other current liabilities</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetEquityAndLiabilities_CurrentLiabilities)</td>
                    </tr>

                    <tr>
                        <td class="ISDesc">Operating expenses (excluding depreciation & amortisation)</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_OperatingExpense)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">&nbsp;&nbsp;Other current assets</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(@Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_OtherCurrentAssets)</td>
                        <td class="BSDesc">Long-term debt</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetEquityAndLiabilities_LongTermDebt)</td>
                    </tr>
                    <tr>
                        <td class="ISDesc">Earnings before interest, tax, depreciation, amortisation ("EBITDA")</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_EBITDA)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">&nbsp;&nbsp;Cash and cash equivalents</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_CashAndCashEquivalents)</td>
                        <td class="BSDesc">Other long-term liabilities</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetEquityAndLiabilities_OtherLongTermLiabilities)</td>
                    </tr>

                    <tr>
                        <td class="ISDesc">Depreciation and amortisation expense</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_DepreciationAndAmortisationExpense)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc" style="font-weight:900">Fixed Assets and Intangible Assets</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_FixedAndIntangibleAssets)</td>
                        <td class="BSDesc" style="font-weight:900">Total Liabilities</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_CurrentAssets)</td>
                    </tr>
                    <tr>
                        <td class="ISDesc">Earnings before interest and tax ("EBIT")</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_EBIT)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">&nbsp; </td>
                        <td class="BSValue">&nbsp;</td>
                        <td class="BSDesc">&nbsp; </td>
                        <td class="BSValue">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="ISDesc">Interest expense</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_InterestExpense)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc" style="font-weight:900">Total Assets</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_CurrentAssets)</td>
                        <td class="BSDesc">Shareholders' equity</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetTotalAssets_CurrentAssets)</td>
                    </tr>
                    <tr>
                        <td class="ISDesc">Earnings before tax</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatement_EarningsBeforeTax)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">&nbsp; </td>
                        <td class="BSValue">&nbsp;</td>
                        <td class="BSDesc">&nbsp; </td>
                        <td class="BSValue">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="ISDesc">&nbsp;</td>
                        <td class="ISValue"></td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">&nbsp; </td>
                        <td class="BSValue">&nbsp;</td>
                        <td class="BSDesc">&nbsp; </td>
                        <td class="BSValue"></td>
                    </tr>
                    <tr>
                        <td class="ISDesc" style="text-decoration-line:underline">Income statement analysis</td>
                        <td class="ISValue"></td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc" colspan="3" style="text-decoration-line:underline">Analysis of working capital and leverage</td>
                        <td class="BSValue"></td>
                    </tr>
                    <tr>
                        <td class="ISDesc">Revenue growth rate</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_PercentageRevenueGrowth)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">Accounts Receivable Days (ave)</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_AverageAccountsReceiveableDays)</td>
                        <td class="BSDesc">&nbsp; </td>
                        <td class="BSValue">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="ISDesc">Gross profit margin</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_PercentageGrossProfitMargin)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">Inventory Days (ave) </td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_AverageInventoryDays)</td>
                        <td class="BSDesc"></td>
                        <td class="BSValue"></td>
                    </tr>
                    <tr>
                        <td class="ISDesc">EBITDA margin</td>
                        <td class="ISValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.IncomeStatementAnalysis_EBITDAMargin)</td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">Accounts Payable Days (ave)</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_AverageAccountsPayableDays)</td>
                        <td class="BSDesc"></td>
                        <td class="BSValue"></td>
                    </tr>

                    <tr>
                        <td class="ISDesc"></td>
                        <td class="ISValue"></td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">Current ratio</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_CurrentRatio)</td>
                        <td class="BSDesc"></td>
                        <td class="BSValue"></td>
                    </tr>
                    <tr>
                        <td class="ISDesc"></td>
                        <td class="ISValue"></td>
                        <td class="ISBSSeperator"></td>
                        <td class="BSDesc">TotalDebt/EBITDA</td>
                        <td class="BSValue">@ValueFormatter.ConvertZero(Model.FullValuationReport.ActualCurrent.BalanceSheetAnalysis_TotalDebtOverEBITDA)</td>
                        <td class="BSDesc"></td>
                        <td class="BSValue"></td>
                    </tr>



                    @*DETAIL END*@
                </table>
                <br />
                <div class="P4Test">
                    VALUATION: EQUITY VALUE (100% SHAREHOLDING IN COMPANY) = @Model.FullValuationReport.ISOCurrencySymbol [...]
                </div>
            </div>


        </div>
        
        <div class="reportLineFooter"></div>


        @Html.Partial("Valuation/Report/PageFooter", Model)
    </div>






