﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">

    <tr>

        <td colspan="2">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    INDUSTRY BENCHMARKING
                </h1>
                <div class="reportLineHeader"></div>
            </div>
        </td>

    </tr>
    <tr>

        <td width="50%">
            <table>
                <tr>
                    <td>
                        <h3 class="Report" style="">
                            Gross profit margin
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        $$\text{𝐺𝑟𝑜𝑠𝑠 𝑃𝑟𝑜𝑓𝑖𝑡 𝑀𝑎𝑟𝑔𝑖𝑛}= {\text{𝑅𝑒𝑣𝑒𝑛𝑢𝑒} - \text{𝐶𝑜𝑠𝑡 𝑜𝑓 𝐺𝑜𝑜𝑑𝑠 𝑆𝑜𝑙𝑑} \over Revenue}$$
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li class="smallpara">
                                It measures what percentage of Revenue remains after paying for the Cost of Goods Sold.
                            </li>
                            <li class="smallpara">
                                A higher percentage means that more sales profit is available to pay for operating and other expenses.
                            </li>
                            <li class="smallpara">
                                Higher Gross Profit Margins are better than lower Gross Profit Margins.
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
        <td width="50%">
            <div height="100%" id="Page29Chart1"  ></div>
        </td>

    </tr>


    <tr>
        <td>
            <h3 class="Report" style="">
                EBITDA margin

            </h3>
        </td>
        <td>
            <h3 class="Report" style="">
                EBIT margin
            </h3>
        </td>
    </tr>

    <tr>
        <td>
            $$\text{𝐸𝐵𝐼𝑇𝐷𝐴 𝑀𝑎𝑟𝑔𝑖𝑛}= {EBITDA \over Revenue}$$
            <ul>
                <li class="smallpara">
                    It measures what percentage of Revenue remains after deducting Cost of Goods Sold and all other operating expenses, but before deducting Interest, Tax, Depreciation and Amortisation.
                </li>
                <li class="smallpara">
                    EBITDA Margin is therefore useful to gauge the operating efficiency of a company before the non-operating effects of financing, tax and accounting policies.
                </li>
                <li class="smallpara">
                    Higher EBITDA Margins are better than lower EBITDA Margins.
                </li>

            </ul>


        </td>
        <td>
            $$\text{𝐸𝐵𝐼𝑇 𝑀𝑎𝑟𝑔𝑖𝑛}= {𝐸𝐵𝐼𝑇\over 𝑅𝑒𝑣𝑒𝑛𝑢𝑒}$$
            <ul>

                <li class="smallpara">
                    It measures what percentage of Revenue remains after deducting Cost of Goods Sold and all other operating expenses, but before deducting Interest and Tax.

                </li>
                <li class="smallpara">
                    EBIT Margin is therefore useful to gauge the operating efficiency of a company before the non-operating effects of financing and tax.
                </li>
                <li class="smallpara">
                    Higher EBIT Margins are better than lower EBIT Margins.
                </li>

            </ul>


        </td>
    </tr>



</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>

@Html.Partial("Valuation/Report/Page29Chart1", Model)

