﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
  
}

 


<table width="100%" height="90%">

    <tr>

        <td colspan="2">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    VALUATION SUMMARY
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr>
        <td width="100%">
            <h3 class="Report" style="">
                EQUITY VALUE - ADJUSTED FOR PROBABILITY OF SURVIVAL

            </h3>
        </td>

    </tr>


    <tr>
        <td>
            <div height="100%" id="page22Chart1"></div>
        </td>
        
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>



@Html.Partial("Valuation/Report/Page22Chart", Model)