﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">

    <tr>

        <td colspan="2">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    Disclaimer
                </h1>
                <div class="reportLineHeader"></div>
            </div>
        </td>

    </tr>
    <tr>
        <td height="50px">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td width="100%">
            <strong>Confidentiality and disclaimer</strong>
            <p class="smallpara">
                This document is provided on the express understanding that the information contained herein will be regarded and treated as strictly confidential and proprietary to equitymaven ltd (“EquityMaven”), its holding company and its subsidiaries (“the EquityMaven group”).
            </p>
            <p class="smallpara">
                Whilst every effort has been made to ensure the accuracy and completeness of the information contained in this document, no responsibility is accepted by the EquityMaven group for the treatment by any court of law, tax, banking or other authorities in any jurisdiction of any transaction based on the information contained herein. There may be tax implications to consider in any transaction and these should be identified and understood before investing. Separate tax advice should therefore be sought when appropriate. Should anything contained herein contribute to the acquisition of a financial product the following must be noted: there are intrinsic risks involved in transacting in any products; no guarantee is provided for the investment value in a product; any forecasts based on hypothetical data are not guaranteed and are for illustrative purposes only; returns may vary as a result of their dependence on the performance of underlying assets and other variable market factors and past performances are not necessarily indicative of future performances. Any client that is not a merchant banking client as defined in the Financial Advisory and Intermediary Services Act must note that unless a financial needs analysis has been conducted to assess the appropriateness of any product, investment or structure to its circumstances,  there may be limitations on the appropriateness of any information provided by a member of the EquityMaven group and careful consideration must be given to the implications of entering into any transaction, with or without the assistance of an investment professional.
            </p>
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>
 