﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">

    <tr>

        <td colspan="2">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    SECONDARY APPROACH - VENTURE CAPITAL VALUATION
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr>

        <td width="50%">
            <h3 class="Report" style="">
                EV / EBITDA MULTIPLES
            </h3>
        </td>
        <td width="50%">
            <h3 class="Report" style="">
                EQUITY VALUE

            </h3>
        </td>

    </tr>


    <tr>
        <td>
            <div height="100%" id="Page25Chart1"></div>
        </td>
        <td>
            <div height="100%" id="Page25Chart2"></div>
        </td>
    </tr>

    <tr>
        <td colspan="2">
      
            <ul>

                <li  class="smallpara">
                    The first step is to calculate the EBITDA for the last year of forecasts (see page 6)
                </li>

                <li  class="smallpara">
                    Next, an appropriate valuation multiple must then be applied to the EBITDA to result in an Enterprise Value for the Company.
                </li>

                <li  class="smallpara">
                    An appropriate valuation multiple is calculated by looking at other firms that are comparable to the company being valued and that are listed on public stock exchanges. The comparable company Enterprise Values are divided by their respective trailing twelve month EBITDAs (EBITDA for the last 12-month period) to arrive at Enterprise Value to EBITDA (“<strong>EV/EBITDA</strong>”) ratios for each comparable company.
                </li>

                <li  class="smallpara">
                    A world median of these comparable EV/ EBITDA ratios is then calculated (see “EV / EBITDA Multiples” graph above) and applied to the forecast EBITDA of the Company to result in the Enterprise Value (see blue bar in “Equity Value” graph above).
                </li>

                <li  class="smallpara">
                    The resultant Enterprise Value is then discounted at the assumed rate of return required by a potential venture capital investor.
                    <ul>
                        <li class="smallpara">
                            &nbsp;&nbsp;&nbsp;&nbsp;The required rate of return will depend on the stage of life of the company being valued e.g. start-up vs early development vs expansion vs bridge/IPO stages.
                        </li>
                    </ul>
                </li>
                <li  class="smallpara">
                    Excess cash is then added and interest-bearing debt subtracted from the Discounted Enterprise Value to calculate the Equity Value.
                    <ul>
                        <li class="smallpara">
                            &nbsp;&nbsp;&nbsp;&nbsp;Note: no illiquidity discount or survival probability is applied in this method. The assumed rate of return required by a potential venture capital investor already takes these factors into account.
                        </li>
                    </ul>
                </li>
            </ul>

             
        </td>
    </tr>


</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>

@Html.Partial("Valuation/Report/Page25Chart1", Model)

@Html.Partial("Valuation/Report/Page25Chart2", Model)