﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}

<table width="100%" style="height:10px;">
    <tr>
        <td style="height:50px">
            &nbsp;
        </td>

    </tr>

     
     

    <tr>
        <td style="height:150px" colspan="3">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    TABLE OF CONTENTS
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>

 
    <tr> <td width="50%"> DISCLAIMER </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 3 </td></tr>
  
    <tr> <td width="50%"> EXECUTIVE SUMMARY </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 4 </td></tr>
    <tr> <td width="50%"> VALUATION PROCESS </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 5 </td></tr>
    <tr> <td width="50%"> FINANCIAL INFORMATION </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 6 </td></tr>
    <tr> <td width="50%"> VALUATION METHODOLOGY </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 8 </td></tr>
    <tr> <td width="50%"> VALUATION SUMMARY </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 10 </td></tr>
    <tr> <td width="50%"> ANNEXURE 1 - ILLUSTRATIVE EXAMPLES </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 12 </td></tr>
    <tr> <td width="50%"> ANNEXURE 2 - DETAILED VALUATION ASSUMPTIONS </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 18 </td></tr>
    <tr> <td width="50%"> ANNEXURE 3 - INDUSTRY BENCHMARKING </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 28 </td></tr>
    <tr> <td width="50%"> ANNEXURE 4 - GLOSSARY </td><td width="45%" class="ContentsLine">&nbsp;</td><td> 32 </td></tr>
    <tr>
        <td style="height:130px">
            &nbsp;
        </td>

    </tr>


    <tr><td colspan="3">
            @Html.Partial("Valuation/Report/PageFooter", Model)
</td></tr>
</table>


