﻿
@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
    var InputsActualPrior = Model.FullValuationReport.ActualPrior;
    var InputsActualCurrent = Model.FullValuationReport.ActualCurrent;
    var InputsBudget = Model.FullValuationReport.Budget;
    var InputsForecast1 = Model.FullValuationReport.Forecast1;
    var InputsForecast2 = Model.FullValuationReport.Forecast2;
}



<div class="aRow">
    <div class="reportHeader" headers="1">
        <h1 class="Report" style="margin-bottom:0;">
            Thank You
        </h1>

        <div class="reportLineHeader"></div>

    </div>
     
 

    <div class="reportBody bgimg" height="88%" headers="1">
        <span class="triangle1P11">
            “However good our futures research may be, we shall never be able to escape from the ultimate dilemma that all our knowledge is about the past, and all our decisions are about the future” - Ian Wilson, American scenario planning expert and strategy consultant
        </span>
        </br>
        <span class="triangle2P11">
            You have been provided with an estimate of the fair value of the Company which will assist you in making any decisions in this regard. It is, however, important to note that a valuation is as at a particular point in time and will be subject to change as the assumptions and forecasts for the Company evolve and are
            amended.
        </span>
        </br>
        <span class="triangle3P11">
            We wish you and your company all of the best and every success in the future!
        </span>

</div>



    @Html.Partial("Valuation/Report/PageFooter", Model)
</div>






