﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel
@*http://bl.ocks.org/kiranml1/6872226*@
@using EquityMaven.Tools;
@{
    Layout = null;

}
@*<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>*@


<script>

    var page08Chart1 = {};
    page08Chart1.vertical = 0;
    
    if (page08Chart1.vertical) {
        page08Chart1.margin = { top: 20, right: 20, bottom: 30, left: 40 };
    }
    else {
        page08Chart1.margin = { top: 20, right: 20, bottom: 30, left: 140 };
    }

    page08Chart1.fullWidth = 360 ;
    page08Chart1.fullHeight = 200;

    page08Chart1.width = page08Chart1.fullWidth - page08Chart1.margin.left - page08Chart1.margin.right;
    page08Chart1.height = page08Chart1.fullHeight - page08Chart1.margin.top - page08Chart1.margin.bottom;


    if (page08Chart1.vertical) {
        page08Chart1.x = d3.scaleBand()
            .rangeRound([0, page08Chart1.width], .1)
                .paddingInner(0.1);

        page08Chart1.y = d3.scaleLinear()
            .range([page08Chart1.height, 0]);
    }
    else {

        page08Chart1.x = d3.scaleLinear()
            .range([page08Chart1.width, 0]);

        page08Chart1.y = d3.scaleBand()
           .rangeRound([0, page08Chart1.height], .1)
               .paddingInner(0.1);


    }
   

    page08Chart1.data = [
        { label: 'DISCOUNTED CASH FLOW', color: "#ad2020" , value: @Math.Round(Model.FullValuationReport.EquityValue_PostSurvivalAdjustment_DCF_EquityValuePost_IlliquidityDiscount_AdjustedForSurvival,0)}, 
        { label: 'MULTIPLES', color: "#3366CC" , value: @Math.Round(Model.FullValuationReport.EquityValue_PostSurvivalAdjustment_MULTIPLES_EquityValuePost_IlliquidityDiscount_AdjustedForSurvival, 0)}, 
        { label: 'VENTURE CAPITAL METHOD', color: "#3366CC" , value: @Math.Round(Model.FullValuationReport.EquityValue_PostSurvivalAdjustment_VCMethod_EquityValuePost_IlliquidityDiscount_AdjustedForSurvival, 0)}]

   
    if (page08Chart1.vertical) {
        page08Chart1.x.domain(page08Chart1.data.map(function (d) { return d.label; }));
        page08Chart1.y.domain([0, d3.max(page08Chart1.data, function (d) { return d.value; })]);
    }
    else {
        page08Chart1.x.domain([0, d3.max(page08Chart1.data, function (d) { return d.value; })]);
        page08Chart1.y.domain(page08Chart1.data.map(function (d) { return d.label; }));
    }
    page08Chart1.elem = {};


    page08Chart1.svg = d3.select("#page08Chart1").append("svg")
       .attr("width", page08Chart1.fullWidth)
       .attr("height", page08Chart1.fullHeight).append("g");

    page08Chart1.barsvg = page08Chart1.svg
        //.attr("transform", "translate(" + page08Chart1.margin.left + "," + page08Chart1.margin.top + ")");

    if (page08Chart1.vertical) {

        page08Chart1.xAxis = d3.axisBottom()
            .scale(page08Chart1.x);
        page08Chart1.elem = page08Chart1.barsvg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + page08Chart1.height + ")")
            .call(page08Chart1.xAxis);
    }
    else {

        //page08Chart1.yAxis = d3.axisLeft()
        //    .scale(page08Chart1.y);
        // page08Chart1.barsvg.append("g")
        //    .attr("class", "y axis")
        //    .attr("transform", "translate(0,0)")
            //.call(page08Chart1.yAxis);
    }
   
    if (page08Chart1.vertical) {
        page08Chart1.barsvg.selectAll(".bar")
        .data(page08Chart1.data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function (d) { return page08Chart1.x(d.label); })
        .attr("width", page08Chart1.x.bandwidth())
        .attr("y", function (d) { return page08Chart1.y(d.value); })
        .attr("height", function (d) { return page08Chart1.height - page08Chart1.y(d.value); })
        .style("fill", function (d) { return d.color; });
    }
    else {

        page08Chart1.barEnter = page08Chart1.barsvg.selectAll(".bar")
              .data(page08Chart1.data)
            .enter().append("g");
      

        page08Chart1.barEnter.append("rect")
         .attr("class", "bar")
         //.attr("x", function (d) { return page08Chart1.x(d.value); })
         .attr("x", function (d) { return 0; })
         .attr("width", function (d) { return page08Chart1.width - page08Chart1.x(d.value); })
         .attr("y", function (d) { return page08Chart1.y(d.label); })
         //.attr("height", 10)
         .attr("height", function (d) { return page08Chart1.y.bandwidth(); })
         .style("fill", function (d) { return d.color; })
        .attr("transform", "translate(" + page08Chart1.margin.left + "," + page08Chart1.margin.top + ")");

        /* Create the text for each block */
        page08Chart1.barEnter.append("text")
            //.attr("dx", function (d) { return page08Chart1.x(d.value); })
            .attr("dx", function (d) { return 10; })
            .attr("dy", function (d) { return page08Chart1.y(d.label) + (page08Chart1.y.bandwidth() /2); })
            .text(function (d) { return d.value })
            .style("font-size", "xx-small")    // set the fill colour
        .attr("fill", function (d) { return d.lineColor })
        .attr("transform", "translate(" + page08Chart1.margin.left + "," + page08Chart1.margin.top + ")");

        /* Create the text for each block */
        page08Chart1.barEnter.append("text")
            //.attr("dx", function (d) { return page08Chart1.x(d.value); })
            .attr("dx", "0")
            .attr("dy", function (d) { return page08Chart1.y(d.label) + (page08Chart1.y.bandwidth() / 2); })
            .text(function (d) { return d.label })
            .style("font-size", "xx-small")    // set the fill colour
        .attr("fill", function (d) { return d.lineColor })
        .attr("transform", "translate(" + (page08Chart1.margin.left - 10) + ","+page08Chart1.margin.top + ")")
        .attr("text-anchor", 'end');
         
    }
</script>
