﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;

}


<table width="100%" height="90%">

    <tr height="1em">
        <td colspan="3"  >
            <div class="reportHeader2" headers="1" >
                <div  style="display: inline">
                    <h1 class="Report" style="color: #ad2020;margin-bottom:0;display: inline;">
                        PRIMARY APPROACH
                    </h1>
                </div>
                <div style="display: inline" >
                    <h1 class="Report" style="margin-bottom:0;display: inline; ">
                        SECONDARY APPROACHES
                    </h1>
                </div>
                <div class="reportLineHeader"></div>
            </div> 
        </td>
    </tr>
    <tr height="1em"  >
        <td>
            <h3 class="Report" style="color: #ad2020;">
                DISCOUNTED CASH FLOW
            </h3>
        </td>
        <td>
            <h3 class="Report" style="margin-bottom:0;">
                MULTIPLES
            </h3>
        </td>
        <td>
            <h3 class="Report" style="margin-bottom:0;">
                VENTURE CAPITAL METHOD
            </h3>
        </td>
    </tr>
    <tr style="font-size: x-small" >
        <td width="33.333%" style="vertical-align:top;">
            <ul class="abc">


                <li>
                    The premise of the income approach to valuation is that the value of a company is derived from the future cash flows expected to be produced by that company.
                </li>
                <li>
                    This is considered the most theoretically robust method and most often takes the form of a discounted cash flow (”DCF”) valuation.
                </li>
                <li>
                    Forecast cash flows are discounted to present value using a discount rate which takes into account the riskiness of a company’s estimated cash flows.
                </li>
                <li>
                    The Terminal Value is then calculated which is the estimated present value of all of the cash flows (in perpetuity) beyond the forecasts provided by the user.
                </li>
                <li>
                    Free cash flows are calculated after deducting cash required for working capital and capital expenditure from operational cash flow.
                </li>
                <li>
                    EquityMaven uses a discounted cash flow as the primary valuation methodology.
                </li>
            </ul>
        </td>
        <td width="33.333%" style="vertical-align:top;">
            <ul class="abc">
                <li>
                    The most common market approach makes use of the prices at which comparable public companies are trading relative to their earnings to imply comparable valuation multiples. EquityMaven uses Enterprise Value relative to EBITDA (“EV/EBITDA“) for comparable companies. These valuation multiples are then applied to the Sustainable EBITDA of company being valued to derive a valuation.
                </li>
                <li>
                    This valuation methodology is well understood by the public and relies on the market ratings of comparable companies which have similar business activities and risks.
                </li>
                <li>
                    EquityMaven uses the market approach as the secondary methodology to corroborate the findings of the primary income approach.
                </li>
                <li>
                    Differences in valuation between the DCF and EV/EBITDA valuations will most likely be attributable to differences in forecast cash flow growth rates between the Company being valued and the industry comparable companies used in the EV/EBITDA valuation.
                </li>
            </ul>
        </td>
        <td width="33.333%" style="vertical-align:top;">
            <ul class="abc">
                <li>
                    This method is mostly used as a quick, indicative valuation only. It is most often used to calculate the “post-money” valuation of seed/start-up companies which are often pre-revenue and where it is easier to estimate a potential exit value at a future point in time rather than estimating the cash flows prior to that point.
                </li>
                <li>
                    A Terminal Value is calculated at the future date when a venture capital investor assumes it will be able to exit the investment.
                </li>
                <li>
                    The Terminal Value is then discounted by the rate of return (over the period to exit) required by a potential venture capital investor. The rates of return typically required by venture capital investors vary with the stage of development of the company being valued.
                </li>
                <li>
                    The discount rate (rate of return required) used in the Venture Capital Method already incorporates the fact that the company being valued is illiquid and has a relatively high risk of failure (non-survival). Further illiquidity discounts and survival probability weightings are therefore not required.
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="color: #ad2020;text-align: center;">
            EQUITYMAVEN USES THE DCF AS ITS PRIMARY METHODOLOGY
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>

