﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%">
    <tr>
        <td>
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    SENSITIVITY ANALYSIS
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>
    </tr>
</table>

<table width="100%" height="30%"  >
    <tr>

        <td colspan="9" >
            <h3 class="Report" style="">
                DCF EQUITY VALUE - SURVIVAL ADJUSTED
            </h3>
        </td>

    </tr>

    <tr class="P27RED">
        <td colspan="6">Equity Value - Survival Adjusted DCF</td>
        <td colspan="4">Terminal Perpetuity Growth Rate</td>
    </tr>
 
    <tr class="P27RED">
        <td colspan="4"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_AMultiple *(decimal)100, 2, "%")</td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_BMultiple * (decimal)100, 2, "%")</td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_CMultiple * (decimal)100, 2, "%")</td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_DMultiple * (decimal)100, 2, "%")</td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_EMultiple * (decimal)100, 2, "%")</td>
    </tr>

    <tr class="P27RED">
        <td colspan="3"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_Wacc_1 * (decimal)100, 2, "%")</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_A1)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_B1)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_C1)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_D1)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_E1)</td>
    </tr>

    <tr class="P27RED">
        <td width="20px;"></td>
        <td>Discount</td>
        <td width="20px;"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_Wacc_2 * (decimal)100, 2, "%")</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_A2)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_B2)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_C2)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_D2)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_E2)</td>
    </tr>

    <tr class="P27RED">
        <td></td>
        <td>Rate</td>
        <td width="20px;"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_Wacc_3 * (decimal)100, 2, "%")</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_A3)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_B3)</td>
        <td class="P27RBorder">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_C3)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_D3)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_E3)</td>
    </tr>

    <tr class="P27RED">
        <td></td>
        <td>(WACC)</td>
        <td width="20px;"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_Wacc_4 * (decimal)100, 2, "%")</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_A4)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_B4)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_C4)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_D4)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_E4)</td>
    </tr>


    <tr class="P27RED">
        <td></td>
        <td></td>
        <td width="20px;"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_Wacc_5 * (decimal)100, 2, "%")</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_A5)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_B5)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_C5)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_D5)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedDCFEquity_E5)</td>
    </tr>
</table>

<table width="100%" height="30%" >
    <tr>

        <td colspan="9">
            <h3 class="Report" style="">
                MULTIPLES EQUITY VALUE - SURVIVAL ADJUSTED
            </h3>
        </td>
    </tr>

    <tr class="P27DBLUE">
        <td colspan="6">Equity Value - Survival Adjusted Multiples</td>
        <td colspan="3">EV/EBITDA Multiple</td>
    </tr>

    <tr class="P27DBLUE">
        <td colspan="4"></td>
        <td>@ValueFormatter.CommaSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_AMultiple, 2, "X")</td>
        <td>@ValueFormatter.CommaSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_BMultiple, 2, "X")</td>
        <td>@ValueFormatter.CommaSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_CMultiple, 2, "X")</td>
        <td>@ValueFormatter.CommaSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_DMultiple, 2, "X")</td>
        <td>@ValueFormatter.CommaSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_EMultiple, 2, "X")</td>
    </tr>

    <tr class="P27DBLUE">
        <td colspan="3"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_EBITDA_TTM_1)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_A1)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_B1)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_C1)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_D1)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_E1)</td>
    </tr>

    <tr class="P27DBLUE">
        <td width="20px;"></td>
        <td>Discount</td>
        <td width="20px;"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_EBITDA_TTM_2)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_A2)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_B2)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_C2)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_D2)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_E2)</td>
    </tr>

    <tr class="P27DBLUE">
        <td></td>
        <td>Rate</td>
        <td width="20px;"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_EBITDA_TTM_3)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_A3)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_B3)</td>
        <td class="P27LBLUE1 P27RBorder">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_C3)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_D3)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_E3)</td>
    </tr>

    <tr class="P27DBLUE">
        <td></td>
        <td>(WACC)</td>
        <td width="20px;"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_EBITDA_TTM_4)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_A4)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_B4)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_C4)</td>
        <td class="P27White1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_D4)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_E4)</td>
    </tr>


    <tr class="P27DBLUE">
        <td></td>
        <td></td>
        <td width="20px;"></td>
        <td>@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_EBITDA_TTM_5)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_A5)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_B5)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_C5)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_D5)</td>
        <td class="P27LBLUE1">@ValueFormatter.SpaceSpacing(Model.FullValuationReport.SurvivalAdjustedMultiples_E5)</td>
    </tr>
</table>

<table width="100%" height="10%">
    <tr>

        <td>
            <ul>
                <li>
                    The tables above provide a sensitivity analysis of both the DCF Equity Value (Survival Adjusted) as well as the Multiples Equity Value (Survival Adjusted).
                    
                </li>
                <li>
                    The sensitivity tables show the various valuations should certain of the underlying assumptions change.

                </li>
            </ul>
        </td>

    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>
 