﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;

}




<table width="100%" height="90%">

    <tr>
        <td>
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    PROBABILITY OF SURVIVAL
                </h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>

    </tr>
    <tr style="font-size:x-small;">
        <td width="100%">
            <h3 class="Report" style="">
                PROBABILITY-WEIGHTING OF THE DCF AND MULTIPLES VALUATIONS

            </h3>
            <ul>
                <li>
                    First, the Equity Values from the DCF and Multiples valuations are weighted according to the probability of the Company surviving into perpetuity.
                </li>
                <li>
                    Survival probability rates used are based on academic studies.
                </li>
                <li>
                    A probability-weighted Equity Value is the result.
                </li>
                <li>
                    Similarly, the Liquidation Value is also then probability-weighted according to the probability of the Company failing (and being liquidated)
                </li>
                <li>
                    These two probability weighted values are then added together to determine the Equity Value, adjusted for probability of survival

                    <div style="color: #ad2020;text-align: center;">
                        Valuation = (DCF Equity Value * Probability of Survival) + (Liquidation Value * Probability of Failure)
                    </div>
                    <div style="color: #ad2020;text-align: center;">
                        or
                    </div>
                    <div style="color: #ad2020;text-align: center;">
                        Valuation = (Multiples Equity Value * Probability of Survival) + (Liquidation Value * Probability of Failure)
                    </div>
  
                </li>
                <li>
                    The VC Method already takes survival probabilities into account through the discount rate and does not need to be probability-weighted in the same way.



                </li>
            </ul>
        </td>
    </tr>
    <tr style="font-size:x-small;">
        <td width="100%" height="200px">
            <img src="~/Content/page17Grid.jpg" style="max-width:100%;max-height:100%;" />
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>



@Html.Partial("Valuation/Report/Page22Chart", Model)