﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%" height="90%">

    <tr>

        <td colspan="6">
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">
                    PRIMARY APPROACH – DCF – COST OF EQUITY
                </h1>
                <div class="reportLineHeader"></div>
            </div>
        </td>

    </tr>
    <tr>
        <td colspan="6">
            <h3 class="Report" style="">
                THE COMPANY’S COST OF EQUITY IS CALCULATED USING THE CAPITAL ASSET PRICING MODEL (“CAPM”)
            </h3>
        </td>
    </tr>
    <tr>
        <td colspan="6" class="bandWhiteOnBlue">
            $$R_{{E}} = R_{{F}} + \beta * ERP$$
        </td>
    </tr>

    <tr style="font-size: x-small" >
        <td width="5%">
            $$R_{{E}} $$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>

        </td>
        <td  width="40%"style="vertical-align:top;">
            <ul  style="padding-left:1px;padding-top:5%">
                <li>
                    Company’s cost of equity.
                </li>
                <li>
                    Determined by beginning with the risk free rate and then adding a risk premium.
                </li>

            </ul>
        </td>


        <td width="5%">
            $$R_{{F}} $$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%"style="vertical-align:top;">
            <ul style="padding-left:1px;padding-top:5%">
                <li>
                    Risk-free rate is the expected return on a risk-free asset.
                </li>
                <li>
                    Risk-free rates are estimated using 10-year local currency government bond yields. This is then reduced by an estimated default spread implied in the yield of those bonds (if the country issuing the bond has a Moody’s rating of less than Aaa) to arrive at a true risk-free rate.
                </li>
                <li>
                    Risk-free rates must be consistent with the currency of the valuation cash flows i.e. if the currency of the valuation cash flows is in USD then the risk-free rate will be based off of the US 10-year government bond rate.
                </li>

            </ul>
        </td>
    </tr>





    <tr style="font-size: x-small" >
        <td width="5%">
            $$ \beta$$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%"style="vertical-align:top;">
            <ul style="padding-left:1px;padding-top:5%">
                <li>
                    The Beta co-efficient (“<strong>Beta</strong>”) measures whether an investment is more or less volatile that the market, or whether an investment’s price movement is correlated with the market.
                </li>
                <li>
                    A Beta of less than 1 can either indicate that the investment is less volatile than the market or its price movement is not highly correlated with the market. A Beta of greater than 1 generally indicates that the asset is more volatile than the market and generally moves with the market.
                </li>
                <li>
                    A Beta is calculated by finding the median of the Company’s comparable sector peer group’s Betas and taking out the effect of the individual peer firms’ capital structures.
                </li>
                <li>
                    The Company-specific Beta is then calculated based on its own Target Market Capital Structure.
                </li>
            </ul>
        </td>

        <td width="5%">
            $$\text{ERP}$$
        </td>
        <td>
            <div class="mathverticalLine">
            </div>
        </td>

        <td width="40%" style="vertical-align:top;">

            <ul style="padding-left:1px;padding-top:5%">
                <li>
                    Equity risk premium (“<strong>ERP</strong>”) is the price that investors attach to investing in assets that are not risk-free. Investors need to be paid a premium for taking this additional risk.
                </li>
                <li>
                    ERP is affected by the country(s), economies and markets in which the Company operates.
                </li>
                <li>
                    ERP which EquityMaven uses is a forward-looking measure calculated as the implied expected returns on stocks less the risk free rate.
                </li>
                <li>
                    EquityMaven calculates the ERP as the ERP for USA (being the best proxy for a mature equity market with sufficient data) and then adds a country risk premium based on a particular country’s credit default spread and general equity volatility relative to government bonds.
                </li>
            </ul>
        </td>
    </tr>
     


</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>
