﻿@model EquityMaven.Umb.TestSite.Models.FullValuationPageModel

@using EquityMaven.Tools;
@{
    Layout = null;
}


<table width="100%">
    <tr>
        <td>
            <div class="reportHeader" headers="1">
                <h1 class="Report" style="margin-bottom:0;">GLOSSARY</h1>

                <div class="reportLineHeader"></div>

            </div>
        </td>
    </tr>
</table>
@{
    var glossary = new List<string[]> { new string[]{"Capitalisation of earnings", "Applying a valuation multiple to the Company’s earnings to derive the Company valuation"},
                    new string[]{"CDS", "Credit Default Swap which is an agreement by the seller of a CDS to compensate the buyer of a CDS in the event of a loan default"},
                    new string[]{"DCF / Discounted cash flow", "Future forecast cash flows are discounted to present value using a discount rate which takes into account the riskiness of the estimated cash flows"},
                    new string[]{"EBIT", "Earnings before interest and tax"},
                    new string[]{"EBITDA", "Earnings before interest, tax, depreciation and amortisation. SUSTAINABLE EBITDA = EBITDA ADJUSTED FOR NON-RECURRING INCOME/EXPENSES "},
                    new string[]{"Enterprise value", "Valuation of the Company before taking into account EXCESS cash balances and interest-bearing debt on the balance sheet"},
                    new string[]{"Equity value", "Enterprise Value plus EXCESS Cash minus Interest-Bearing Debt, adjusted for an illiquidity discount"},
                    new string[]{"Excess cash", "Cash not required for the company’s operations"},
                    new string[]{"Free cash flow", "Operational cash flows of the Company after taking into account changes in working capital, taxation and capital expenditure"},
                    new string[]{"Gross interest expense", "Annual interest expense to be paid on the Company’s interest-bearing debt"},
                    new string[]{"leverage", "Amount of interest-bearing debt used by the Company"},
                    new string[]{"Operating cash flow", "Amount of cash flow generated by the Company’s normal operations"},
                    new string[]{"Operating profit", "Profit earned from the Company’s normal operations"},
                    new string[]{"Present value", "The current worth of a future income stream after discounting at a specified discount rate"},
                    new string[]{"Target market capital structure", "Target weighting of THE market value of THE Company’s Equity and THE market value of Company’s interest-bearing debt"},
                    new string[]{"Terminal value", "Estimated present value of all of the cash flows beyond the forecasts provided by the user (into perpetuity)"},
                    new string[]{"Total market value of company", "Market value of THE Company’s Equity plus THE market value of Company’s interest-bearing debt"},
                    };
}

<table height="60%">
    <tr>
        <td>
            @{

                var isOdd = true;
                foreach (var item in glossary)
                {
                    var oddeven = isOdd ? "odd" : "even";
                    isOdd = !isOdd;
                    <div class="row @oddeven">
                        <div class="col-md-3 ">
                            <div>@item[0]</div>
                        </div>
                        <div class="col-md-9">
                            <div >@item[1]</div>
                        </div>
                    </div>
                }
            }
        </td>
    </tr>
</table>

<table width="100%" height="15%">
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            @Html.Partial("Valuation/Report/PageFooter", Model)
        </td>
    </tr>
</table>
