﻿/*.umbraco-forms-form input.text, .umbraco-forms-form input.title, .umbraco-forms-form textarea, 
.umbraco-forms-form select
{
	margin: 0.5em 0;
	border: 1px solid #bbb;
}
.umbraco-forms-form input.text:focus, .umbraco-forms-form input.title:focus,.umbraco-forms-form textarea:focus, .umbraco-forms-form select:focus,
{
	border: 1px solid #666;
}

.umbraco-forms-form input.text,.umbraco-forms-form textarea
{
	max-width: 400px !important;
	padding: 5px;
    display: block;
    width: 95%;
}*/

.calculated{
    background-color:#cfcccc;
}

.TRBCGroup{
    border:dashed;
    border-color: red;
}