﻿<div  style="width:auto">
    <select ng-model="setting.value" <!--ng-options="string.id as string.value for string in strings"-->>
        <option value="">-- choose Api Value --</option>
        <option value="TRBC">TRBC Activities Picker</option>
        <option value="Country">Country Picker</option>
        <option value="Currency">Currency Picker</option>
        <option value="Stage of Development">Stage of Development Picker</option>
    </select>
</div>

