@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc
@{
    var isCalculated = true;
    var field = Model;
    var fieldPrefix = "Data." + Model.Name.Replace("-", "");
    var fieldId = fieldPrefix + ".Id";
    var fieldCaption = fieldPrefix + ".Caption";
    var fieldName = fieldPrefix + ".Name";
    var fieldValue = fieldPrefix + ".Value";
    var fieldChange = "change(" + fieldPrefix + ", " + Model.Name + ")";
    var fieldClass = Html.GetFormFieldClass(field.FieldTypeName) + " text" + (isCalculated ? " calculated" : "");
    var rawData = new { selectedActivityId = Model.Value, preValues = field.PreValues };
}
<script src="~/Umbraco/lib/angular/1.1.5/angular.min.js"></script>
@*
    <script>
        var EMTRBPickerApp = angular.module('EMTRBPickerApp', []);
        EMTRBPickerApp.controller('EMTRBPickerCtrl', ['$scope', '$http', '$location', function ($scope, $http, $location) {
            $scope.test = "abc";
            var emptyField = { "Id": "00000000-0000-0000-0000-000000000000", "FieldsetId": "00000000-0000-0000-0000-000000000000", "PageId": "00000000-0000-0000-0000-000000000000", "Name": "00000000-0000-0000-0000-000000000000", "Caption": "Revenue", "Mandatory": true, "RequiredErrorMessage": "", "Validate": true, "Regex": "^[0-9]*$", "InvalidErrorMessage": "", "FieldTypeName": "", "FieldType": { "icon": null, "id": "00000000-0000-0000-0000-000000000000", "name": "", "description": "", "group": null }, "HideLabel": false, "ShowIndicator": true, "ToolTip": null, "CssClass": "", "PreValues": [], "AdditionalSettings": { "DefaultValue": "", "Placeholder": "" }, "HasCondition": false, "PlaceholderText": "", "ConditionActionType": 0, "ConditionLogicType": 0, "ConditionRules": [], "ParentConditions": null, "Condition": { "id": "00000000-0000-0000-0000-000000000000", "enabled": false, "actionType": "Show", "logicType": "All", "rules": [] }, "Values": [], "Value": "", "ValueAsObject": null, "ValueAsHtmlString": {} };

        }]);
    </script>*@

<script src="~/App_Plugins/UmbracoForms/Assets/EMPreValuation/EM.TRBPicker.js"></script>

<div id="bodyContainer" ng-app="EMTRBPickerApp" ng-cloak>
    <div ng-controller="EMTRBPickerCtrl" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(rawData))">

        <div class="row">
            <div class="col-sm-8 input-group">
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label for="{{EconomicSector}}">Economic Sector:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_EconomicSector TRBC" id="EconomicSector"
                                ng-model="selectedEconomicSectorId" ng-options="item.Id as item.Description for item in Data.TRBCCode.EconomicSectors "></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label for="BusinessSector_@fieldId">Business Sector:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_BusinessSector TRBC" id="BusinessSector_@fieldId"
                                ng-model="selectedBusinessSectorId" ng-options="item.Id as item.Description for item in Data.TRBCCode.BusinessSectors | filter:{EconomicSector.Id:selectedEconomicSectorId}"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label for="IndustryGroup_@fieldId">Industry Group:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_IndustryGroup TRBC" id="IndustryGroup_@fieldId"
                                ng-model="selectedIndustryGroupId" ng-options="item.Id as item.Description for item in Data.TRBCCode.IndustryGroups | filter:{BusinessSector.Id:selectedBusinessSectorId}"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label for="Industry_@fieldId">Industry:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_Industry TRBC" id="Industry_@fieldId"
                                ng-model="selectedIndustryId" ng-options="item.Id as item.Description for item in Data.TRBCCode.Industries | filter:{IndustryGroup.Id:selectedIndustryGroupId}"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label for="@fieldId">Activity:</label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        <select class="TRBCPicker_Activity TRBC" id="Activity_@fieldId"
                                ng-model="selectedActivityId" ng-options="item.Id as item.Description for item in Data.TRBCCode.Activites| filter:{Industry.Id:selectedIndustryId}"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-3">
                        <label for="{{@fieldId}}">
                            {{@fieldCaption}}

                        </label>
                    </div>
                    <div class="col-md-8 col-xs-6">
                        @*<input class="TRBCCode TRBC" type="text"
                               ng-model="selectedActivityId" ng-change="@fieldChange"
                               name="@Model.Name"
                                id="@Model.Id"
                               ng-disabled="true"
                               ng-readonly="@isCalculated.ToString().ToLower()"
                               @{if (string.IsNullOrEmpty(field.PlaceholderText) == false) { <text> placeholder="@field.PlaceholderText" </text>          }}
                               @{if (field.Mandatory || field.Validate) { <text> data-val="true" </text>                       }}
                               @{if (field.Mandatory) { <text> data-val-required="@field.RequiredErrorMessage" </text>                       }}
                               @{if (field.Validate) { <text> data-val-regex="@field.InvalidErrorMessage" data-regex="@Html.Raw(field.Regex)" </text>          }} />*@


                        <input type="text"
                               name="@Model.Name"ng-model="selectedActivityId" ng-change="@fieldChange"
                               id="@Model.Id"
                               @*class="@Html.GetFormFieldClass(Model.FieldTypeName) text"*@
                                class="TRBCCode TRBC"
                               @*value="@Model.ValueAsHtmlString"*@
                               maxlength="500"
                               @{if (string.IsNullOrEmpty(Model.PlaceholderText) == false) { <text> placeholder="@Model.PlaceholderText" </text> }}
                               @{if (Model.Mandatory || Model.Validate) { <text> data-val="true" </text> }}
                               @{if (Model.Mandatory) { <text> data-val-required="@Model.RequiredErrorMessage" </text> }}
                               @{if (Model.Validate) { <text> data-val-regex="@Model.InvalidErrorMessage" data-regex="@Html.Raw(Model.Regex)" </text> }} />



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

