@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc

<select class="@Html.GetFormFieldClass(Model.FieldTypeName)"  name="@Model.Name" id="@Model.Id"
@if (Model.Mandatory){<text> data-val="true" data-val-required="@Model.RequiredErrorMessage"</text>}
>
    <option value=""></option>
    @foreach (var pv in Model.PreValues)
    {
        <option value="@pv.Id" 
        @if (Model.ContainsValue(pv.Id))
        {<text>selected="selected"</text>}
        >@pv.Value</option>
    }
</select>
