﻿ 

<div class="emAdmin" ng-controller="EMAdmin.CorporateBondSpreads">
    <h1>Corporate Bond Spreads</h1>
    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th ng-click="sort('Id')">Id</th>
                <th ng-click="sort('ActiveFrom')">ActiveFrom</th>
                <th ng-click="sort('Created')">Created</th>
                <th ng-click="sort('LastUpdated')">LastUpdated</th>
                <th ng-click="sort('Description')">Description</th>
                <th ng-click="sort('isActive')">isActive</th>
                </tr>
        </thead>
        <tbody>
            <!--<tr ng-repeat="record in vm.results.Results|orderBy:sortKey:reverse|filter:search">-->
            <tr ng-repeat="record in vm.results|orderBy:sortKey:reverse">
                <td><div ng-show="record.changed" class="savePending">*</div></td>
                <td>{{record.Id}}</td>
                <td >
                    <input type="datetime-local" id="exampleInput" name="input" ng-model="record.ActiveFrom"
                           placeholder="yyyy-MM-ddTHH:mm:ss" required style="width:auto"/>
                </td>
                <td>{{record.Created}}</td>
                <td>{{record.LastUpdated}}</td>
                <td ><input ng-model= "record.Description" ng-change="changed(record)"/></td>
                <td>
                    <input type="checkbox" ng-model="record.isActive" ng-change="changed(record)" />
                </td>
            </tr>
        </tbody>
    </table>
    <umb-pagination ng-if="vm.pagination.totalPages > 1 && ready"
                    page-number="vm.pagination.pageNumber"
                    total-pages="vm.pagination.totalPages"
                    on-next="vm.goToPage"
                    on-prev="vm.goToPage"
                    on-go-to-page="vm.goToPage">
    </umb-pagination>


    <a href="" ng-click="AddRecord()">Add</a>
    <a href="" ng-click="SaveRecord()">Save</a>
</div>


    <!--<div class="emAdmin" ng-controller="pageingTestCtrlWorks2">
    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th ng-click="sort('Id')">Id</th>
                <th ng-click="sort('ActiveFrom')">ActiveFrom</th>
                <th ng-click="sort('Created')">Created</th>
                <th ng-click="sort('LastUpdated')">LastUpdated</th>
                <th ng-click="sort('Description')">Description</th>
                <th ng-click="sort('isActive')">isActive</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in data|orderBy:sortKey:reverse|filter:search">
                <td>{{record.Id}}</td>
                <td>{{record.ActiveFrom}}</td>
                <td>{{record.Created}}</td>
                <td>{{record.LastUpdated}}</td>
                <td>{{record.Description}}</td>
                <td>{{record.isActive}}</td>
            </tr>
        </tbody>
    </table>

</div>-->
        
        <!--<div class="emAdmin" ng-controller="_pageingTestCtrl_WORKS">
    <form class="form-inline">
        <div class="form-group">
            <label>Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th ng-click="sort('id')">Id</th>
                <th ng-click="sort('first_name')">First Name</th>
                <th ng-click="sort('last_name')">Last Name</th>
                <th ng-click="sort('hobby')">Hobby</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users|orderBy:sortKey:reverse|filter:search">
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.hobby}}</td>
            </tr>
        </tbody>
    </table></div>-->  


    <!--<input type="text" name="browser" id="browser" ng-model="query.description" ng-model-blur placeholder="browser" />
    <pre>{{query}}</pre>
    <hr>
    <article ng-repeat="item in pagedItems">
        <pre>{{item.description}}</pre>
    </article>
    <div class="clearfix">
        <span class="pull-left">showing {{start}} to {{end}} of {{filteredItems.length}}<span ng-show="data.length != filteredItems.length"> (from {{data.length}})</span></span>
        <pagination class="pagination-right pagination-small" style="margin:0" num-pages="numOfPages" current-page="currentPage" max-size="maxSize" boundary-links="true"></pagination>
    </div></div>-->

 
 
 
