﻿<div class="emAdmin" ng-controller="EMAdmin.DashboardController">

    <div  >
       <h1>Dashboard {{id}}</h1>

            <h2><strong>{{overlay.title}}</strong></h2>
         
    </div>
 

</div>
