﻿<div class="emAdmin" ng-controller="EMAdmin.TRBCController">

    <div  >
       <h1>Dashboard {{id}}</h1>

            <h2><strong>{{overlay.title}}</strong></h2>
         
    </div>
<!--    <label>Search:</label> <input type="text" ng-model="search.name" placeholder="Search" />-->
    <!--<br />-->

    <label>Filter by EconomicSector:</label>
    <ul>
        <li><a href="" ng-click="search.EconomicSector='Basic Materials'">Basic Materials</a></li>
        <li><a href="" ng-click="search.EconomicSector='Consumer Cyclicals'">Consumer Cyclicals</a></li>
        <li><a href="" ng-click="search.EconomicSector='Consumer Non-Cyclicals'">Consumer Non-Cyclicals</a></li>
        <li><a href="" ng-click="search.EconomicSector='Energy'">Energy</a></li>
        <li><a href="" ng-click="search.EconomicSector='Financials'">Financials</a></li>
    </ul>

    EconomicSector

     <p><strong><a href="" ng-click="resetFilters()">Show All</a></strong></p>

    <h1>Items</h1>
    <table border="1">
        <tr ng-repeat="item in filtered = items | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
            <td>
                {{item.Id}}
            </td>
            <td>
                {{item.Description}}
            </td>
        </tr>
    </table>

    <pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>

</div>
