﻿
<umb-panel>
    <umb-header><h1>Input Batch</h1></umb-header>

    <div class="umb-panel-body umb-scrollable row-fluid">
        <div class="tab-content form-horizontal" style="padding-bottom: 90px">
            <div class="umb-pane">

                <div class="emAdmin" ng-controller="EMAdmin.InputBatch">

                    <div>
                        <h1>Input Batch</h1>
                    </div>


                    <!--<umb-control-group label="File" description="File to upload">
                        <input type="file" class="umb-editor umb-textstring" ngf-select="" ng-model="files" ng-multiple="false" ngf-change="fileSelected(files)" required />
                    </umb-control-group>

                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group">
                            <button type="button" data-hotkey="ctrl+s" class="btn btn-success" ng-click="uploadFile()">
                                Upload
                            </button>
                        </div>
                    </div>-->

                </div>


            </div>
        </div>
    </div>
</umb-panel>

