﻿ 
<umb-panel>
    <umb-header><h1>Moody's Ratings</h1></umb-header>

    <div class="umb-panel-body umb-scrollable row-fluid">
        <div class="tab-content form-horizontal" style="padding-bottom: 90px">
            <div class="umb-pane">

                <div class="emAdmin" ng-controller="EMAdmin.ListInputBatches">
                    <h1>{{Description}}</h1>

                    <div ng-hide="NewInputBatch">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>Search</label>
                                <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
                            </div>
                        </form>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th ng-click="sort('Id')">Id</th>
                                    <th ng-click="sort('ActiveFrom')">ActiveFrom</th>
                                    <th ng-click="sort('Created')">Created</th>
                                    <th ng-click="sort('LastUpdated')">LastUpdated</th>
                                    <th ng-click="sort('Description')">Description</th>
                                    <th ng-click="sort('isActive')">isActive</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="record in vm.results|orderBy:sortKey:reverse">
                                    <td><div ng-show="record.changed" class="savePending">*</div></td>
                                    <td>{{record.Id}}</td>
                                    <td>
                                        <input type="datetime-local" id="exampleInput" name="input" ng-model="record.ActiveFrom"
                                               placeholder="yyyy-MM-ddTHH:mm:ss" required style="width:auto" />
                                    </td>
                                    <td>{{record.Created}}</td>
                                    <td>{{record.LastUpdated}}</td>
                                    <td><input ng-model="record.Description" ng-change="changed(record)" /></td>
                                    <td>
                                        <input type="checkbox" ng-model="record.isActive" ng-change="changed(record)" />
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <umb-pagination ng-if="vm.pagination.totalPages > 1 && ready"
                                        page-number="vm.pagination.pageNumber"
                                        total-pages="vm.pagination.totalPages"
                                        on-next="vm.goToPage"
                                        on-prev="vm.goToPage"
                                        on-go-to-page="vm.goToPage">
                        </umb-pagination>


                        <a href="" ng-click="AddRecord()">Add</a>
                        <a href="" ng-click="SaveRecord()">Save</a>

                    </div>



                    <div ng-show="NewInputBatch">
                          
                        <input type="datetime-local" id="exampleInput" name="input" ng-model="NewInputBatch.ActiveFrom"
                                   placeholder="yyyy-MM-ddTHH:mm:ss" required style="width:auto" />
                         
                      
                        <input ng-model="NewInputBatch.Description" ng-change="changed(NewInputBatch)" />

                        
                       <input type="checkbox" ng-model="NewInputBatch.isActive" ng-change="changed(NewInputBatch)" />
                         
                        <umb-control-group label="File" description="File to upload">
                            <input type="file" class="umb-editor umb-textstring" ngf-select="" ng-model="files" ng-multiple="false" ngf-change="fileSelected(files)" required />
                        </umb-control-group>

                        <div class="umb-tab-buttons" detect-fold>
                            <div class="btn-group">
                                <button type="button" data-hotkey="ctrl+s" class="btn btn-success" ng-click="SaveRecord()"ng-disabled="isUploading">
                                    Upload
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</umb-panel>

