﻿<umb-panel>
    <umb-header><h1>Moody's Ratings</h1></umb-header>

    <div class="umb-panel-body umb-scrollable row-fluid">
        <div class="tab-content form-horizontal" style="padding-bottom: 90px">
            <div class="umb-pane">


                <div class="emAdmin" ng-controller="EMAdmin.Moodysratings">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>Search</label>
                            <input type="text" ng-model="searchValue" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <!--<th ng-click="sort('Id')">Id</th>-->
                                <th ng-click="sort('Created')">Created</th>
                                <th ng-click="sort('LastUpdated')">LastUpdated</th>

                                <th ng-click="sort('Rating')">Rating</th>
                                <th ng-click="sort('DefaultSpread')">DefaultSpread</th>
                                <!--<th ng-click="sort('isActive')">isActive</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr ng-repeat="record in vm.results.Results|orderBy:sortKey:reverse|filter:search">-->
                            <tr ng-repeat="record in vm.results|orderBy:sortKey:reverse">
                                <td><div ng-show="record.changed" class="savePending">*</div></td>
                                <!--<td>{{record.Id}}</td>-->
                                <td>{{record.Created}}</td>
                                <td>{{record.LastUpdated}}</td>
                                <td><input ng-model="record.Rating" ng-change="changed(record)" /></td>
                                <td><input type="number" ng-model="record.DefaultSpread" ng-change="changed(record)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <umb-pagination ng-if="vm.pagination.totalPages > 1 && ready"
                                    page-number="vm.pagination.pageNumber"
                                    total-pages="vm.pagination.totalPages"
                                    on-next="vm.goToPage"
                                    on-prev="vm.goToPage"
                                    on-go-to-page="vm.goToPage">
                    </umb-pagination>


                    <a href="" ng-click="AddRecord()">Add</a>
                    <a href="" ng-click="Cancel()">Cancel</a>
                    <a href="" ng-click="SaveRecord()">Save</a>
                </div>


            </div>
        </div>
    </div>
</umb-panel>