﻿
<umb-panel>
    <umb-header><h1>Input Batch</h1></umb-header>

    <div class="umb-panel-body umb-scrollable row-fluid">
        <div class="tab-content form-horizontal" style="padding-bottom: 90px">
            <div class="umb-pane">

                <div class="emAdmin" ng-controller="EMAdmin.prevaluations">

                    <div>
                        <h1>Pre Valuations</h1>
                    </div>

                    <div ng-hide="selected">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th ng-click="sort('Id')">Id</th>
                                    <th ng-click="sort('Created')">Created</th>
                                    <th ng-click="sort('Email')">Email</th>
                                    <th ng-click="sort('CompanyName')">CompanyName</th>
                                    <th ng-click="sort('Industry')">Industry</th><!--Add This-->
                                    <th ng-click="sort('LastFinancialYearEnd')">LastFinancialYearEnd</th>
                                    <th ng-click="sort('TRBC2012HierarchicalID')">TRBC2012HierarchicalID</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="record in vm.results|orderBy:sortKey:reverse">
                                    <td><div ng-show="record.changed" class="savePending">*</div></td>
                                    <td>{{record.Id}}</td>
                                    <td>{{record.Created}}</td>
                                    <td>{{record.Email}}</td>
                                    <td>{{record.CompanyName}}</td>
                                    <td>{{record.TRBCActivity.Industry.Description}}</td>
                                    <td>{{record.LastFinancialYearEnd}}</td>
                                    <td>{{record.TRBC2012HierarchicalID}}</td>
                                    <td><a href="" ng-click="Select(record)">View</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <umb-pagination ng-if="vm.pagination.totalPages > 1 && ready"
                                        page-number="vm.pagination.pageNumber"
                                        total-pages="vm.pagination.totalPages"
                                        on-next="vm.goToPage"
                                        on-prev="vm.goToPage"
                                        on-go-to-page="vm.goToPage">
                        </umb-pagination>

                    </div>
                    <div ng-show="selected">


                        <table class="Inputs">
                            <tr class="Header">
                                <td colspan="2">INCOME STATEMENT</td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Company name</td>
                                
                                <td class="Value boxhighlight"><input type="text" ng-model="selected.CompanyName" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Industry (Thomson Reuters Business Classification)</td>
                                
                                <td class="Value boxhighlight"><input type="text" ng-model="selected.TRBCActivity.Industry.Description" ng-readonly /> </td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Last financial year end</td>
                                
                                <td class="Value boxhighlight"><input type="text" ng-model="selected.LastFinancialYearEnd" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Current cash on hand as at last month-end</td>
                                
                                <td class="Value boxhighlight"><input type="text" ng-model="selected.CurrentCashOnHand" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">All 3rd party interest-bearing debt as at last month-end (LT+ST)</td>
                                
                                <td class="Value boxhighlight"><input type="text" ng-model="selected.CurrentInterestBearingDebt" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Industry (Thomson Reuters Business Classification)</td>
                                
                                <td class="Value boxhighlight"><input type="text" ng-model="selected.TRBC2012HierarchicalID" ng-readonly /></td>
                            </tr>
                        </table>

                        </br>

                        <table class="IncomeStatement">
                            <tr class="Header">
                                <td colspan="3">INCOME STATEMENT</td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Revenue</td>
                                <td class="Value texthighlight"><input type="text" ng-model="selected.IncomeStatement_Revenue" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Cost of Goods Sold</td>
                                <td class="Value underline texthighlight"><input class="texthighlight" type="text" ng-model="selected.IncomeStatement_CostOfGoodsSold" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Gross profit</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.IncomeStatement_GrossProfit" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Operating expenses (excluding depreciation & amortisation)</td>
                                
                                <td class="Value underline texthighlight"><input type="text" ng-model="selected.IncomeStatement_OperatingExpense" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Earnings before interest, tax, depreciation, amortisation ("EBITDA")</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.IncomeStatement_EBITDA" ng-readonly /></td>
                            </tr>
                        </table>
                        </br>
                        <table class="ExcessCash">
                            <tr class="Header">
                                <td colspan="3">EXCESS CASH</td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Revenue</td>
                                
                                <td class="Value underline"><input type="text" ng-model="selected.IncomeStatement_Revenue" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Operating cash as % Revenue (assumed)</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.ExcessCash_PercentageAssumedOperatingCashRequiredOverRevenue" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Current cash on hand as at last month-end</td>
                                <td class="Value underline"><input type="text" ng-model="selected.CurrentCashOnHand" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Excess cash</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.ExcessCash_ExcessCash" ng-readonly /></td>
                            </tr>

                        </table>
                        </br>
                        <table class="Valuation">
                            <tr class="Header">
                                <td colspan="3">EV/EBITDA VALUATION</td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">EBITDA (LFY)</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.IncomeStatement_EBITDA" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">World EV/EBITDA</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.EV_EBITDA_WorldMedian" ng-readonly /></td>
                            </tr>
                            <tr class="Detail bold">
                                <td class="Label">Enterprise Value (pre-illiquidity discount)</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.EV_EBITDA_Valuation_EquityValuePreIlliquidityDiscount" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Excess cash</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.ExcessCash_ExcessCash" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Interest bearing debt</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.CurrentInterestBearingDebt" ng-readonly /> </td>
                            </tr>
                            <tr class="Detail bold">
                                <td class="Label">Equity Value (pre-illiquidity discount)</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.EV_EBITDA_Valuation_EquityValuePreIlliquidityDiscount" ng-readonly /></td>
                            </tr>
                            <tr class="Detail">
                                <td class="Label">Illiquidity discount</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.ValuationIlliquidityDiscount" ng-readonly /></td>
                            </tr>
                            <tr class="Detail bold">
                                <td class="Label">Equity Value (post-illiquidity discount)</td>
                                
                                <td class="Value"><input type="text" ng-model="selected.EV_EBITDA_Valuation_EquityValuePostIlliquidityDiscount" ng-readonly /> </td>
                            </tr>
                        </table>
                        <br />

                        
                        
                        <div>
                            <a href="" ng-click="Select(null)">Return to list</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</umb-panel>

 
<link href="emAdmin.prevaluations.css" rel="stylesheet" />