﻿
<umb-panel>
    <umb-header><h1>TRBC Values</h1></umb-header>
    
    <div class="umb-panel-body umb-scrollable row-fluid">
        <div class="tab-content form-horizontal" style="padding-bottom: 90px">
            <div class="umb-pane">
                <div class="emAdmin" ng-controller="EMAdmin.TRBC">
                    <p style="color:red">TODO - wire up saves</p>
                    <div class="TRBCGroup" style="background-color:ButtonShadow ">
                        
                            <div class="input-group">
                                <div class="editor-label">
                                    <label for="TRBCPicker">
                                        TRBC Filter
                                    </label>
                                </div>
                                <div class="editor-field">
                                    <input type="text" ng-model="selectedActivityId" name="TRBCPicker" id="TRBCPicker"  maxlength="10" />
                                </div>
                            </div>

                            <div class="input-group TRBC">
                                <div class="editor-label">
                                    <label for="EconomicSector_TRBCPicker">Economic Sector:</label>
                                </div>
                                <div class="editor-field" >
                                    <select class="TRBCPicker_EconomicSector" id="EconomicSector_TRBCPicker" style="width:90%;"
                                            ng-model="selectedEconomicSectorId" ng-options="item.Id as item.Description for item in TRBCCode.EconomicSectors "></select>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="editor-label">
                                    <label for="BusinessSector_TRBCPicker">Business Sector:</label>
                                </div>
                                <div class="editor-field">
                                    <select class="TRBCPicker_BusinessSector" id="BusinessSector_TRBCPicker" style="width:90%;"
                                            ng-model="selectedBusinessSectorId" ng-options="item.Id as item.Description for item in TRBCCode.BusinessSectors | filter:{EconomicSectorId:selectedEconomicSectorId}"></select>
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="editor-label">
                                    <label for="IndustryGroup_TRBCPicker">Industry Group:</label>
                                </div>
                                <div class="editor-field">
                                    <select class="TRBCPicker_IndustryGroup" id="IndustryGroup_TRBCPicker" style="width:90%;"
                                            ng-model="selectedIndustryGroupId" ng-options="item.Id as item.Description for item in TRBCCode.IndustryGroups | filter:{BusinessSectorId:selectedBusinessSectorId}"></select>
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="editor-label">
                                    <label for="Industry_TRBCPicker">Industry:</label>
                                </div>
                                <div class="editor-field">
                                    <select class="TRBCPicker_Industry" id="Industry_TRBCPicker" style="width:90%;"
                                            ng-model="selectedIndustryId" ng-options="item.Id as item.Description for item in TRBCCode.Industries | filter:{IndustryGroupId:selectedIndustryGroupId}"></select>
                                </div>
                            </div>


                            <div class="input-group">
                                <div class="editor-label">
                                    <label for="TRBCPicker">Activity:</label>
                                </div>
                                <div class="editor-field">
                                    <select class="TRBCPicker_Activity" id="Activity_TRBCPicker" style="width:90%;"
                                            ng-model="selectedActivityId" ng-options="item.Id as item.Description for item in TRBCCode.Activities| filter:{IndustryId:selectedIndustryId}"></select>
                                </div>
                            </div>
                         <br />
                    </div>

                    <br />
                    
                    <div ng-show="SelectedRecord" style="border-color:antiquewhite; border-top:dashed">
                        <!--<div ng-repeat="record in vm.results|orderBy:sortKey:reverse">-->
                        <div>
                            <div>
                                <div ng-show="SelectedRecord.changed" class="savePending">*</div>
                            </div>
                            <div>
                                <label for="{{SelectedSelectedRecord.Id}}_Active">Active:</label>
                                <input id="{{SelectedRecord.Id}}_Active" type="checkbox" ng-model="SelectedRecord.isActive" ng-change="changed(SelectedRecord)" />
                            </div>


                            <div>
                                <label for="{{SelectedRecord.Id}}_Description">Description:</label>
                                <input  id="{{SelectedRecord.Id}}_Description" ng-model="SelectedRecord.Activity.Description" ng-change="changed(SelectedRecord)" style="width:100%" />
                            </div>

                   

                            <div>
                                <label for="{{SelectedRecord.Id}}_UnleveredBeta">UnleveredBeta:</label>
                                <input id="{{SelectedRecord.Id}}_UnleveredBeta" ng-model="SelectedRecord.UnleveredBeta" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>
                            <div>
                                <label for="{{SelectedRecord.Id}}_World">World:</label>
                                <input id="{{SelectedRecord.Id}}_World" ng-model="SelectedRecord.World" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_Africa">Africa:</label>
                                <input id="{{SelectedRecord.Id}}_Africa" ng-model="SelectedRecord.Africa" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_NorthAmerica">NorthAmerica:</label>
                                <input id="{{SelectedRecord.Id}}_NorthAmerica" ng-model="SelectedRecord.NorthAmerica" ng-change="changed(SelectedRecord)"style="width:100%" />
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_SouthCentralAmerica">SouthCentralAmerica:</label>
                                <input id="{{SelectedRecord.Id}}_SouthCentralAmerica" ng-model="SelectedRecord.SouthCentralAmerica" ng-change="changed(SelectedRecord)"style="width:100%" />
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_Asia">Asia:</label>
                                <input id="{{SelectedRecord.Id}}_Asia" ng-model="SelectedRecord.Asia" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_AustraliaNewZealand">AustraliaNewZealand:</label>
                                <input id="{{SelectedRecord.Id}}_AustraliaNewZealand" ng-model="SelectedRecord.AustraliaNewZealand" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_EasternEuropeRussia">EasternEuropeRussia:</label>
                                <input id="{{SelectedRecord.Id}}_EasternEuropeRussia" ng-model="SelectedRecord.EasternEuropeRussia" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_SouthernEurope">SouthernEurope:</label>
                                <input id="{{SelectedRecord.Id}}_SouthernEurope" ng-model="SelectedRecord.SouthernEurope" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_WesternEurope">WesternEurope:</label>
                                <input id="{{SelectedRecord.Id}}_WesternEurope" ng-model="SelectedRecord.WesternEurope" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_MiddleEast">MiddleEast:</label>
                                <input id="{{SelectedRecord.Id}}_MiddleEast" ng-model="SelectedRecord.MiddleEast" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_CurrentRatio">CurrentRatio:</label>
                                <input id="{{SelectedRecord.Id}}_CurrentRatio" ng-model="SelectedRecord.CurrentRatio" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_InterestCover">InterestCover:</label>
                                <input id="{{SelectedRecord.Id}}_InterestCover" ng-model="SelectedRecord.InterestCover" ng-change="changed(SelectedRecord)"style="width:100%" />
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_GrossMargin">GrossMargin:</label>
                                <input id="{{SelectedRecord.Id}}_GrossMargin" ng-model="SelectedRecord.GrossMargin" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_EBITDAMargin">EBITDAMargin:</label>
                                <input id="{{SelectedRecord.Id}}_EBITDAMargin" ng-model="SelectedRecord.EBITDAMargin" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_EBITMargin">EBITMargin:</label>
                                <input id="{{SelectedRecord.Id}}_EBITMargin" ng-model="SelectedRecord.EBITMargin" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_AccRecDaysAve">AccRecDaysAve:</label>
                                <input id="{{SelectedRecord.Id}}_AccRecDaysAve" ng-model="SelectedRecord.AccRecDaysAve" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_AccPayableDaySave">AccPayableDaySave:</label>
                                <input id="{{SelectedRecord.Id}}_AccPayableDaySave" ng-model="SelectedRecord.AccPayableDaySave" ng-change="changed(SelectedRecord)"style="width:100%" />
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_InventoryDaysAve">InventoryDaysAve:</label>
                                <input id="{{SelectedRecord.Id}}_InventoryDaysAve" ng-model="SelectedRecord.InventoryDaysAve" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_TotalDebtMarketCap">TotalDebtMarketCap:</label>
                                <input id="{{SelectedRecord.Id}}_TotalDebtMarketCap" ng-model="SelectedRecord.TotalDebtMarketCap" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_TotalDebtEBITDA">TotalDebtEBITDA:</label>
                                <input id="{{SelectedRecord.Id}}_TotalDebtEBITDA" ng-model="SelectedRecord.TotalDebtEBITDA" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>

                            <div>
                                <label for="{{SelectedRecord.Id}}_InterestCoverAdjusted">InterestCoverAdjusted:</label>
                                <input id="{{SelectedRecord.Id}}_InterestCoverAdjusted" ng-model="SelectedRecord.InterestCoverAdjusted" ng-change="changed(SelectedRecord)" style="width:100%"/>
                            </div>
                        </div>


                        <!--<a href="" ng-click="AddRecord()">Add</a>-->
                        <a href="" ng-click="SaveRecord()">Save</a>
                    </div>








                    <div  >
                        <table ng-show="override">

                            <tr ng-repeat="record in data|orderBy:sortKey:reverse">
                                <td>
                                    <div ng-show="record.changed" class="savePending">*</div>
                                </td>
                                <td>
                                    <input id="{{record.Id}}_Id" ng-model="record.Activity.Id" ng-change="changed(record)" />
                                </td>
                                <td>
                                    <input id="{{record.Id}}_Description" ng-model="record.Activity.Description" ng-change="changed(record)" />
                                </td>


                                <td>
                                    <input id="{{record.Id}}_World" ng-model="record.World" ng-change="changed(record)" />
                                </td>

                            </tr>
                        </table>

                        
                    </div>



                </div>


            </div>
        </div>
    </div>
</umb-panel>



