﻿<select tabindex="-1">
    <option value="">Choose...</option>
    <option ng-repeat="preValue in field.preValues">{{preValue}}</option>
    <option ng-repeat="preValue in field.$preValues">{{preValue.value}}</option>
</select>

<br />

<div ng-if="field.prevalueSourceId == null && field.removePrevalueEditor !== true || field.prevalueSourceId == '00000000-0000-0000-0000-000000000000' && field.removePrevalueEditor !== true">
    <umb-forms-inline-prevalue-editor ng-model="field.preValues" />
</div>
