﻿.page {
    background: white;
    color: black;
    /*width: 842px;
    height: 595px;*/
}


body {
    background: rgb(204,204,204);
}

page {
    background: white;
    color: black;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
}

    page[size="A4"] {
        width: 595px;
        height: 842px;
    }

        page[size="A4"][layout="landscape"] {
            width: 842px;
            height: 595px;
        }

    page[size="A3"] {
        width: 29.7cm;
        height: 42cm;
    }

        page[size="A3"][layout="landscape"] {
            width: 42cm;
            height: 29.7cm;
        }

    page[size="A5"] {
        width: 14.8cm;
        height: 21cm;
    }

        page[size="A5"][layout="landscape"] {
            width: 21cm;
            height: 14.8cm;
        }

.page {
    background: white;
    color: black;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
}

/* Centered text */
.centered {
    position: absolute;
    top: 57%;
    left: 12%;
    transform: translate(-50%, -50%);
}

.rowtest {
    width: 200px;
    /*border-color: yellow;*/
    /*border-style: dashed;*/
}

.centeredtest {
    position: absolute;
    top: 90px;
    left: 10%;
    width: 90%;
    /*transform: translate(-50%, -50%);*/
}

.page4ColDetail {
}

.page4ColFilled {
    background-color: #3366CC;
}

.page4ColHead {
    color: white;
}

.page4ColHead, .page4ColDetail {
    font-size: x-small;
    font-weight: 800;
    height: 2em;
    vertical-align: middle;
    width: 44%;
}

.page4ColSpacer {
    /*border-color: darkkhaki;
    border-style: dashed;*/
    width: 1%;
}




.page4ColLabel, .page4ColDetail2 {
    /*border-color:aqua;
    border-style:groove;*/
    font-size: x-small;
    font-weight: 800;
    height: 2em;
    vertical-align: middle;
    width: 50%;
}

.page4ColLabel {
    text-align: ce;
}

.page4ColDetail2 {
    text-align: right;
}

.xxx {
    border-style: solid;
    border-bottom-color: black;
}










.Page6Test {
    position: absolute;
    top: 115px;
    left: 10%;
    width: 90%;
    /*transform: translate(-50%, -50%);*/
}



.Row {
    margin-left: 10px;
    margin-right: 10px;
}

    .Row:after, .row:before {
        content: " ";
        display: table;
    }

    .Row:after {
        clear: both;
    }


.P4Test {
    background-color: #ad2020;
    color: white;
    text-align: center;
}

.P27RED {
    background-color: #e44c4c;
    color: white;
    text-align: center;
}

.P27LBLUE1 {
    background-color: #5195c8;
    color: black;
    text-align: center;
}

.P27LBLUE2 {
    background-color: #5195c8;
    color: #0f49d3;
    text-align: center;
}

.P27DBLUE {
    background-color: #3366CC;
    color: black;
    text-align: center;
}

.P27White1 {
    background-color: #fff;
    color: black;
    text-align: center;
}

.P27White2 {
    background-color: #0f49d3;
    color: #0f49d3;
    text-align: center;
}

.P27RBorder {
    border-color: #ff0000;
    border-width: 3px;
    border-style: dashed;
}

.PRED {
    background-color: white;
    color: #ad2020;
    text-align: center;
    width: 100%;
}



.P28H1 {
    text-align: center;
    color: #4f4f4f;
    font-size: xx-large;
}

.P28H2 {
    text-align: center;
    color: #3366CC;
    font-size: xx-large;
}

.P28Line {
    width: 25%;
    border-top: 4px solid;
    border-color: #3366CC;
    margin: auto;
}

.P28P {
    text-align: center;
    font-style: italic;
}

.RowHead {
    background-color: #3366CC;
    color: white;
}


/*font size*/
.RowHead, .RowDetail {
    font-size: xx-small;
    font-weight: 600;
}

.RowHead, .RowDetail, .ISValue, .ISDesc, .BSValue, .BSDesc, .P4Test {
    font-size: xx-small;
}



.ColHead {
    background-color: #3366CC;
    color: white;
}

/*font size*/
.ColHead, .ColDetail, .vvvv {
    font-size: xx-small;
    font-weight: 600;
}

.ColClear {
    background-color: white;
    height: 100%;
}

.ActualPrior, .ActualCurrent {
    background-color: #64c7ed;
}


.temp1 {
    background-color: antiquewhite;
}

.pageCol, pageColLeft, pageColRight {
    /*border-color:aqua;
    border-style:groove;*/
    font-size: x-small;
    font-weight: 800;
    height: 2em;
    vertical-align: middle;
    /*width:50%;*/
}

.pageColRight {
    text-align: right;
}

.pageColLeft {
    text-align: left;
}

/*.page6ColLabel{
     text-align:center;
}

.pageColRight
{
    text-align:right;
}

.pageColLeft
{
    text-align:left;
}*/



.debug {
    outline-style: dashed;
    outline-color: yellow;
}

.test {
    border-color: yellow;
    border-style: dashed;
}

.test1 {
    border-color: red;
    border-style: dashed;
}

.test2 {
    border-color: orange;
    border-style: dashed;
}

.test3 {
    border-color: deeppink;
    border-style: dashed;
}


.reportLineHeader {
    width: 100%;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #3366CC 25%, #bcbcbc 25%) 1;
}

.reportLineFooter {
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid;
    border-image: linear-gradient(to right, #3366CC 25%, #bcbcbc 25%) 1;
}

.ContentsLine {
    width: 100%;
    align-self: bottom;
    /*border-bottom: 1px solid;*/
}


h1.Report {
    margin-bottom: 0;
    color: #3366CC;
    font-size: x-large;
}

h2.Report {
    margin-top: 0;
    margin-bottom: 0;
    color: #4172d7;
    font-size: larger;
}

h3.Report {
    margin-top: 0;
    margin-bottom: 0;
    color: #4172d7;
    font-size: large;
}

p.disclaimer {
    font-size: xx-small;
}

td.valuationProcess {
    outline-style: dashed;
    outline-color: violet;
}

p.valuationProcess {
    text-align: center;
    font-size: xx-small;
}

h3.valuationProcess {
    text-align: center;
    color: #64c7ed;
    font-size: xx-small;
}

img.valuationProcess {
    padding-left: 60px;
    width: 90%;
}

/*page[size="A4"][layout="landscape"] {
            width: 842px;
            height: 595px;
        }*/

.reportHeader[headers="2"] {
    height: 100px;
}

.reportBody[headers="2"] {
    height: 440px;
}

.reportHeader2[headers="1"] {
}

.reportHeader[headers="1"] {
    height: 60px;
}

.reportBody[headers="1"] {
    height: 480px;
}

.reportFooter {
    height: 50px;
}


._valuationProcess1 tspan {
    font-family: 'Arial Rounded MT';
    font-size: small;
    font-weight: 200;
}

._valuationProcess2 tspan {
    font-family: 'Arial Rounded MT';
    font-size: small;
    font-weight: 100;
}



._valuationProcess2 tspan {
    /*font-weight: 100;*/
}

.Underline {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.reportpercentage {
    font-style: italic;
}

.PageNumber {
    vertical-align: central;
    align-content: center;
    height: 80px;
    width: 80px;
}

h5.Report {
    color: #64c7ed;
    margin-top: 0;
    margin-bottom: 0;
}

.abc {
    vertical-align: bottom;
}



.ISCol {
}

.ISBSSeperator {
    width: 1%;
}

.ISValue {
    width: 14%;
    text-align: right;
    font-size: xx-small;
    padding-right: 1em;
}

.ISDesc {
    width: 35%;
    text-align: left;
    font-size: xx-small;
}


.BSValue {
    width: 9.75%;
    text-align: right;
    font-size: xx-small;
    padding-right: 1em;
}

W .BSDesc {
    width: 14.75%;
    text-align: left;
    font-size: xx-small;
}



.EquityValueChartRedText {
    color: #ad2020;
}

.EquityValueChartBlueText {
    color: #3366CC;
    /*background-color: #aaa2a2;*/
}

.EquityValueChartRedText, .EquityValueChartBlueText {
    text-transform: uppercase;
    font-weight: 600;
}


.smallpara {
    font-size: x-small;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 0;
}



.smallformula {
    font-size: xx-small;
    margin-top: 0;
    margin-bottom: 0;
}


div.odd {
    background-color: #cccccc;
    font-size: small;
}

div.even {
    font-size: small;
    background-color: #e8e8e8;
}



.bgimg {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../Content/page11Background.jpg');
    width: 100%;
}

span.triangle1P11 {
    top: 35px;
    width: 750px;
    left: 5px;
    text-align: left;
    display: block;
}

span.triangle2P11 {
    top: 135px;
    width: 600px;
    left: 5px;
    text-align: left;
    display: block;
}

span.triangle3P11 {
    top: 35px;
    width: 450px;
    left: 5px;
    text-align: left;
    display: block;
}


.bandWhiteOnBlue {
    background-color: #3366CC;
    color: white;
}



.mathverticalLine {
    height: 60%;
   /*display: inline;*/
   border-left: 6px solid #3366CC;
   vertical-align: baseline;
}
